[2015-08-23 15:40] koceg opened #3 "External file vs inline script"
Javascript code here is very small, so it's a shame that we need whole additional http-request to get it.
In terms of client performance it would be better to inline this script, but I don't know how it will affect server-side performance. I have a feeling that it would add less than a millisecond or so, but can't figure out a way to test this assumption reliably.
Another approach would be just ad

[2015-08-23 15:41] mikebronner commented on #3
Thanks @koceg  :) I will look into that, good suggestion! :)

[2015-08-23 15:48] koceg commented on #3
It may not be necessary at all, since the script is loaded at the very bottom of the page. I'm not sure will it block loading of images, for example.
Anyway, I think `async` attribute won't hurt :) But I wasn't sure about correct syntax for this attribute, turns out there is [some difference](http://stackoverflow.com/a/1834129).

[2015-08-23 15:49] mikebronner commented on #3
yea, it won't block anything right now, but the extra HTTP request is kind of annoying. Also, isn't async already set to true?

[code]

[2015-08-23 15:50] koceg commented on #3
Async ajax-request and async script loading is not the same thing :)

[2015-08-23 16:18] mikebronner commented on #3
I see what you mean now. Thanks for clarifying. I don't think that's necessary for this small bit of code, especially now that it's inline.

If it were an external file, or a larger block of code that did some extensive processing, sure. I suspect trying to implement async loading of the tiny inline snippet would reduce load time, rather than optimize it.

But yes, if you can come up with a way to

[2015-08-23 16:18] #3 closed

[2015-08-23 16:26] koceg commented on #3
Hardcoding script is the best solution from performance standpoint.
It's a little harder to change it now, but I don't think you will do it very often.

[2015-08-30 21:00] lbausch opened #7 "All Views are rendered twice"
This is because calling `$content->render();` in `LaravelCaffeineDripMiddleware.php` on line 28.
I noticed this behaviour because in one of my Views I use `Session::pull()`. The data are pulled during the first rendering and of course no longer available when the View is rendered the second time (and delivered to the client).

Any suggestions to avoid this?

[2015-08-30 21:08] mikebronner commented on #7
I will look into the possibility of injecting the output without rendering in the middleware, but passing it on. Any suggestions on how to do this are welcome. :) I initially tried to figure something out, but ended up spending too much time on it, without finding a solution.

[2015-09-01 17:36] lbausch commented on #7
Thank you for your quick reply. I don't have a clever idea neither - otherwise I would have created a pull request.

[2015-09-02 23:21] mikebronner commented on #7
@lbausch can you paste the code snippet where you execute the Session::pull() with the relevant bits, as well as past your `/app/Http/Kernel.php` file content here as well? I will try to recreate the issue on my end to see if something can be figured out.

Thanks :)

[2015-09-05 10:36] lbausch commented on #7
Sure, check this repository (https://github.com/lbausch/laravel-caffeine-test) for a demonstration. :)

[2015-09-05 14:16] mikebronner commented on #7
@lbausch thanks for throwing up an example :) much appreciated. I am pretty busy today, but will look at it this evening.

[2015-09-07 15:37] mikebronner commented on #7
Hi @lbausch I took a look at the test repo, and ran it without causing duplications. Would be happy to do a ScreenHero session with you do look at what's happening. Please email me directly if you would like to troubleshoot that way (email is in profile). :)

[2015-10-16 13:49] haakym opened #10 "URL not getting hit properly"
I've got a form at the following URL:

[code]

If I leave the page open for the javascript to fire I get the following in my console:

[code]

Am I doing something wrong? If not, is there anyway to modify the URL? Or, could you possibly make the route named:

[code]

and reference the named route in the middleware file:

[code]

Any ideas? Thank you.

[2015-12-22 23:28] opheliadesign opened #11 "Laravel 5.2 middleware issue"
Ran into this error after upgrading to Laravel 5.2:

[code]

[2015-12-22 23:30] mikebronner commented on #11
Thanks for posting. :) Haven't upgraded yet myself. Will look at this later today.

[2015-12-23 02:44] lhdev commented on #11
I've confirmed this as well.  Please see here:
http://laravel.com/docs/5.2/upgrade#upgrade-5.2.0

Specifically the Deprecations sections relating to "The Illuminate\Contracts\Routing\Middleware contract has been deprecated."

[2015-12-23 18:48] mikebronner commented on #10
Hi @haakym, so sorry I missed your message. This issue should have been resolved in a previous update where the GET url has been updated. Please let me know if this is still an issue.

[2015-12-23 18:48] #10 closed

[2015-12-23 19:14] mikebronner commented on #11
Thanks guys for your patience! :) This is now fixed in version 0.3.0. Please update your composer.json as specified in the README (use version 0.3.0 and up for Laravel 5.2).

[2015-12-23 19:14] #11 closed

[2016-01-25 11:56] MohamedQabbani opened #13 "Class web does not exist"
When run route /genealabs/laravel-caffeine/drip
it return error 500  with ReflectionException in Container.php line 741:
Class web does not exist

[2016-01-25 17:01] mikebronner commented on #13
@MohamedQabbani are you running on Laravel 5.2, or a lower version?

[2016-01-25 17:04] MohamedQabbani commented on #13
@mikebronner i'm running on Laravel 5.1

[2016-01-25 17:06] mikebronner commented on #13
What version of Caffeine do you have installed? Be sure you keep it at `0.2.*` or `~0.2.0`. The `0.3.x` versions are for Laravel 5.2 only.

[2016-01-25 17:08] MohamedQabbani commented on #13
I run this command composer require genealabs/laravel-caffeine:~0.2

[2016-01-25 17:12] mikebronner commented on #13
Run this: `composer require genealabs/laravel-caffeine:~0.2.0`. If you don't add the trailing `0` it will get the 0.3 version.

[2016-01-25 17:13] MohamedQabbani commented on #13
ok i 'll

[2016-01-25 17:21] mikebronner commented on #13
Fixed documentation in README as well as on forlaravel.com. Thanks again! :) I you still have issues, please re-open this issue and we'll investigate some more.

[2016-01-25 17:21] #13 closed

[2016-02-03 04:45] shangsunset opened #14 "not working for X-CSRF-TOKEN request header"
Hi,

does this package also work for ajax request? its currently not working for me. i know it says it works for any page has `_token`, is ajax request included?

i did as laravel doc suggests:

[code]

update: i checked `LaravelCafineDripMiddleware.php`, and outputed `$content`. it turns out that the response content from my server is `array` instead of `string` since its not returning a view fil

[2016-02-03 14:04] mikebronner commented on #14
Yea, this is only for view forms. There are some scenarios where caffeine will process twice, but I haven't found s way around that yet.

[2016-02-05 16:42] kxgen commented on #14
Same issue here.

[2016-02-05 16:45] mikebronner commented on #14
Can you link me to the relevant code, or post an example in a GIST? Right now this only works with forms that has the token field added. Can you add the token field to the form?

[2016-02-05 17:00] kxgen commented on #14
@mikebronner [gist here](https://gist.github.com/kxgen/4445a155273e5ed4ae90)

[2016-02-05 17:33] mikebronner commented on #14
What if you changed your code like so:

[code]

Sure, it's a work-around, but this package isn't designed for pure AJAX forms, it depends on a form with the CSRF token being on the page, not in JavaScript.

[2016-02-05 19:14] kxgen commented on #14
It works, and I made the following changes:

1.Add a form to html
[code]
2.Use the token value from hidden input when sending an ajax request
[code]

And I add some script to `LaravelCaffeineDripMiddleware.php`, cause the variable `$content` always return null value (???):
[code]

[2016-02-05 19:18] mikebronner commented on #14
Are you running on L5.2? This is likely due to the route not being in the web middleware group. I will have to think about ways to have this work on all middleware groups.

[2016-02-05 19:19] kxgen commented on #14
I am running on L5.1.

Thanks :)

[2016-02-08 07:04] olimorris opened #15 "Exposing the CSRF Token on an unsecured endpoint"
Hi Mike,

Firstly I'm a big fan of the package and many thanks for your work

I just wanted to test some logic with regards to exposing the CSRF token on an unsecured endpoint. I'm using VueJS alongside Laravel to create an application and I like to use Laravel to generate a token in the `<script>` section of my `<head>` tags. This is of course subjected to token mismatch exceptions when the CSRF

[2016-02-08 10:03] rap2hpoutre opened #16 "ReflectionException: Class web does not exist"
In a fresh laravel 5.2, caffeine works. But on an existing laravel (from 5.1 to 5.2), it throws this exception:
[code]
This commit https://github.com/GeneaLabs/laravel-caffeine/commit/2b8a2205fee43d063c5b2e531e38289e1d410d48, added a route group with `web` middleware. But I think the `web` middleware is optional and may be removed (it's not in `vendor` but in `app`). So Caffeine has a dependency a

[2016-02-08 10:18] rap2hpoutre commented on #16
I've made a quick fix for that (works with every configuration of laravel 5.2)

[2016-02-09 23:49] mikebronner commented on #14
done some more thinking on this and I think I have a solution. will post something in the next few days.

[2016-02-14 20:55] callumhay opened #18 "Unusual laravel directory structure (or .htaccess) messes up routing"
The url utilized by the middleware is using a path that assumes routing paths for laravel are not changed via .htaccess or other means. This causes the drip logic to not find the controller. The solution is to use the url function to make sure the path is correct.

My fix:
Replace line 32 of LaravelCaffeineDripMiddleware.php with the following:

`$content = str_replace('</body>', "<script>setInter

[2016-02-14 20:57] mikebronner commented on #18
Thanks for reporting this. I will look into this and the other issues later today. :)

[2016-02-15 03:58] mikebronner commented on #18
Integrating this now.

[2016-02-15 03:58] #18 closed

[2016-02-15 03:59] #16 closed

[2016-02-15 04:03] mikebronner commented on #15
Hi @olimorris, I;ve been thinking about this as well. Initially I thought that exposing the CSRF token publicly would be a security risk, but if you add the csrf-token as a meta tag or in a hidden field, you expose it anyway. So not so sure about this.

Laravel recommends using it as a form field or meta tag in the <head> of the HTML document. I would recommend sticking with those two. I am updati

[2016-02-15 04:03] #15 closed

[2016-02-15 04:21] mikebronner commented on #14
Just pushed update that should work on pages with the meta tag, no more fake forms! :)

[2016-02-15 04:21] #14 closed

[2016-02-15 21:05] cillosis commented on #14
@mikebronner Thanks for this fix, you are a real life saver!. Any chance this can be updated on the Laravel 5.1 version as well? My understanding is 0.3 is only for L5.2 correct?

[2016-02-15 21:07] mikebronner commented on #14
You might try installing it in L5.1 and see if it works. Chances are it will, since I now continue as normal if there is no "web" route middleware.

[2016-02-15 21:08] cillosis commented on #14
Ah yes, that was what it had complained about before. I will give it a try and let you know.

[2016-02-15 21:18] cillosis commented on #14
Appears to work fine! I guess that means you don't have two separate versions to maintain :+1:

Thanks again, this is awesome.

[2016-02-15 21:28] cillosis commented on #14
Edit: I retract that statement -- appears to not work exactly.

![image](https://cloud.githubusercontent.com/assets/1303759/13060664/17473dac-d401-11e5-9f2e-dd79eaf9450f.png)

[2016-02-16 06:16] percymamedy opened #19 "v0.3.2 preg_match error"
I am getting this error with the v0.3.2

[code]

v0.3.1 works fine

[2016-02-17 04:01] IronSinew commented on #19
I'm also having this issue with 0.3.2. Rolled back to 0.3.1 for now.

[2016-02-17 04:02] mikebronner commented on #19
Sorry about the delay on this. Been swamped. Will fix this ASAP. For some reason this was not an issue in my testing.

[2016-02-17 04:06] mikebronner commented on #19
Just released v0.3.3 to address this. Thanks for your patience and reporting the problem :)

[2016-02-17 04:06] #19 closed

[2016-02-19 08:48] markustenghamn opened #21 "404 error on drip"
I believe it may be related to #10

I just installed this on Laravel 5.2 and configured it according to the instructions on the main page. I left a page up for a while and it gave me a 404 error when trying to call http://mydomain/genealabs/laravel-caffeine/drip

Visiting the url also gives 404.

Could perhaps adding the url to the routes.php file fix this issue?

[2016-02-19 13:27] ivanvermeyen opened #22 "Still getting TokenMismatchException after Laravel session lifetime"
Hi

When I leave a form open for a while, I still get a `TokenMismatchException`.
I'm using Laravel 5.2.

For testing I've set the session lifetime in `config/session.php` to 3 minutes and the drip interval to 1 min (60000ms). The drip route is being called every minute as it should (no errors in the Chrome network tab).

After the first drip I can still send the form, but after 3 drips or minutes

[2016-02-19 17:16] ivanvermeyen commented on #22
Update:

Did some testing...
If I open any page in a second tab and refresh it before the session expires, the form keeps working.

First I was thinking that maybe ajax was caching the request, so I tried to ping your route with jQuery and with cache disabled, but the session still expired. So that's not the issue.

        setInterval(function () {
            $.ajax({
                url: '/gene

[2016-02-19 18:23] ivanvermeyen commented on #22
Update 2: Found the issue! :)

In your `routes.php` file `Route::getMiddleware()` returns only the `protected $routeMiddleware` in `Kernel.php`. So `Route::getMiddleware()['web']` is never set. Because the drip route is then registered outside of a 'web' route group, it has no knowledge of sessions etc.

Haven't found a proper way to check if a route group is set though...

[2016-02-19 19:34] mikebronner commented on #22
Thanks for reporting and looking into this. I'm on the road this weekend but will look into it as well if I can.

[2016-02-20 04:01] mikebronner commented on #21
Can you check if this is fixed in release 0.3.4?

[2016-02-20 04:02] mikebronner commented on #22
@ivanvermeyen thanks again for your research on this. Can you check if release 0.3.4 fixes this?

[2016-02-20 04:03] #21 closed

[2016-02-20 12:09] ivanvermeyen commented on #22
Got an error:

[code]

This works for me:

        if (in_array('web', (array) $route->getAction()['middleware'])) {
            return true;
        }

Mind the cast to `(array)`.

[2016-02-20 15:27] opheliadesign opened #23 "in_array() expects paramter 2 to be array, string given"
Experiencing this issue after the latest updated. Laravel 5.2:
[code]

[2016-02-20 15:32] mikebronner commented on #22
Thanks for the follow-up. What version of Laravel do you have installed and what version of PHP are you using? It looks like this is down to versioning differences, as this worked for me. getAction actually did not work for me.

[2016-02-20 16:10] ivanvermeyen commented on #22
I am running the latest Laravel (5.2.20) on a Homestead box with PHP 5.6.

[2016-02-20 17:06] olimorris opened #24 "Undefined index: middleware"
**System:** Laravel 5.2.20 / PHP 7.0.2

With the latest commit, I'm getting the following error:

![screen shot 2016-02-20 at 17 04 33](https://cloud.githubusercontent.com/assets/9512444/13197959/1d55d7e8-d7f4-11e5-81f0-b6df0f160468.png)

It's solved by changing the `routes.php` file to:

[code]

[2016-02-20 17:38] ivanvermeyen commented on #22
Just a thought.
Middleware groups are only relevant since Laravel 5.2, right?

Perhaps you can do a version check instead?

[code]

If using Laravel >= 5.2 and no 'web' group exists, adding the route to that group doesn't seem to throw any errors, so it can't hurt?

Or perhaps you can add middleware groups to the config file, in case people rename their groups?

[2016-02-20 17:44] mikebronner commented on #22
Yea, this is getting really tricky. I will cast to array for now.

[2016-02-20 17:58] mikebronner commented on #23
Hopefully fixed in version 0.3.5.

[2016-02-20 17:58] #23 closed

[2016-02-20 17:58] mikebronner commented on #24
Should be fixed in version 0.3.5

[2016-02-20 17:58] #24 closed

[2016-02-20 17:59] mikebronner commented on #22
Should now be fixed in 0.3.5

[2016-02-20 17:59] #22 closed

[2016-02-20 18:07] ivanvermeyen commented on #22
`$actions['middleware']` returns a string `'web'`for me, which causes `in_array` to choke.

[2016-02-20 18:15] mikebronner commented on #22
Sorry, working while traveling on the road ... not sure why that is happening for you. Do you only have a single middleware group? I wonder if it returns as string if there's only a single group, and array if multiple. REALLY ANNOYING. Could also be a difference between PHP 5.x and PHP 7. Thanks for your patience on this.

[2016-02-20 18:46] ivanvermeyen commented on #22
There are 2 default middleware groups in my `Kernel.php`: 'web' and 'api'. But I only use 'web' in my `routes.php`. It's strange indeed.

I've been searching through the Laravel code and found [this reference](https://github.com/illuminate/routing/blob/master/Route.php#L245-L247), but it doesn't really help much. :) It's fun to try and understand the inner workings tho. It just requires a lot of d

[2016-02-20 19:00] mikebronner commented on #22
Is it working now with the array casting? :)

[2016-02-20 19:14] ivanvermeyen commented on #22
It's working now :)
And... I just discovered why I got a string instead of an array...

https://laravel.com/docs/5.2/middleware#registering-middleware

According to the docs you can do:

[code]

or:

[code]

I was using the first one with 'web'. So it seems whatever you specify there is what is returned from the `getAction()['middleware']`.

[2016-02-20 21:38] olimorris opened #25 "Causes PHPUnit errors - Cannot redeclare hasWebMiddleware()"
With the package installed I get the following errors when I run `vendor/bin/phpunit` in my Laravel v5.2.20 app:

[code]

[2016-02-21 03:33] mikebronner commented on #25
Hi @olimorris, could you give 0.3.7 a shot and let me know if it works for you? Thanks :)

[2016-02-22 06:50] olimorris commented on #25
Hi Mike,

Seem to still be getting the same errors with `0.3.7`:

[code]

[2016-02-22 20:11] opheliadesign commented on #25
Also running into this after updating -
[code]

[2016-02-22 21:51] mikebronner commented on #25
Sorry about this, I goofed up and overwrote the commit that fixed it. I'll fix as soon as I get home from my travels this evening. :)

[2016-02-24 16:39] opheliadesign commented on #25
Is there a status update on this? Getting complaints from users with token mismatch exceptions on my login, your package saved the day by preventing this. I run `php artisan route:cache` on my deployment script, still throwing the same error as above.

[2016-02-24 16:46] mikebronner commented on #25
Sorry for the delay, will have a fix out in the next 30 minutes.

[2016-02-24 17:03] mikebronner commented on #25
Could you guys give 0.3.8 a try and see if it works for you? Initial testing seems to indicate it should, but recent experience has tought me not to trust that. Please leave a comment and reopen if you are still experiencing this issue. Thanks for your patience. :)

[2016-02-24 17:03] #25 closed

[2016-02-24 20:51] olimorris commented on #25
@mikebronner works like a charm Mike. Infact I have it playing very nicely with vue.js via Laravel Spark. I guess we need some tests for this bad boy now.

[2016-02-24 20:53] mikebronner commented on #25
Yea, I have some rudimentary tests in place: https://github.com/GeneaLabs/laravel-caffeine-tests. Any contributions in that repo welcome!! :)

[2016-02-24 20:55] olimorris commented on #25
Awesome. I'll have a think if there's anything I can add.

I actually think this should be part of the Laravel core btw. I consider it to be a cardinal sin that users can shut their laptop, come back to fill in a form and find it doesn't work.

[2016-02-24 20:58] mikebronner commented on #25
Haha, that's awesome ! Thanks for the support :)

[2016-02-24 21:35] olimorris commented on #25
@mikebronner just looking at your test repo, why don't you just include that within the tests directory of this repository?

[2016-02-24 22:31] mikebronner commented on #25
I have gone to using external projects to facilitate testing, as they facilitate development at the same time. External testing allows running of integration and functional tests in addition to unit tests. (There isn't much in the way of unit tests in this project.)

[2016-02-24 22:38] opheliadesign commented on #25
Yay, happy forms again! Totally agree that this should be part of the Laravel core. Thanks for your hard work!

[2016-02-25 21:14] olimorris opened #26 "Meta tag token doesn't appear to be working"
Hi Mike,

There appears to be an issue when I set a meta tag with the content of `{{ csrf_token() }}`. I get the usual error of:

[code]

My meta tag is:
[code]
and I register the meta tag in my javascript:
[code]

Needless to say, it absolutely works fine until the token times out.

[2016-02-25 23:23] mikebronner commented on #26
I was wondering if this might happen. I wonder if the session is not getting refreshed in your instance.

Can you post your `kernel.php` and `routes.php` here for me?

[2016-02-26 07:20] olimorris commented on #26
Sure.

My `Kernal.php` file looks like:
[code]
and my `routes.php` file is:
[code]
and with vue.js I'm making a call like this:
[code]
The issue must be with the refreshing of the tokens in my view. Somehow it's not taking place.

[2016-02-26 12:08] haakym commented on #10
Hi @mikebronner no problem! I didn't try the update yet, however when I moved my project to the production environment it works fine.

When using my dev environment, I'm using wamp, the url doesn't seem to get hit properly perhaps because I have to add in `public` to the url? So this is pretty much a non-issue for me. Will hopefully give the update a try soon.

Thanks for your assistance and your

[2016-02-26 17:08] shangsunset commented on #14
Hi Mike,
Thanks for the update, the package works with Ajax now. However, using meta tag for Ajax means all pages will be 'awake' as meta tag will be set in a main layout file and all partial views under it will be affected. In my case, I'm using react as my view, so basically the whole site will be awake. Is there a workaround for this?

Thanks

[2016-02-26 17:12] mikebronner commented on #14
I guess you could use a view composer to conditionally render the meta tag? Or perhaps use a blade include only on the pages that need it by creating a meta placeholder in the layout, and only populating it on the respective pages that need it?

[2016-02-26 17:18] cillosis commented on #14
@shangsunset If I were you, in my layout I would do something like:

    <meta>

          <title>My Site</title>

          @yield('meta')

    </meta>

Then in the view you might have something like:

    @extends('layout')

    @section('meta')

    @endsection

    @section('content')

    @endsection

That allows you to override as @mikebronner suggested

[2016-02-26 17:21] mikebronner commented on #14
@cillosis thanks for detailing that, exactly what I meant :)

[2016-02-26 18:43] shangsunset commented on #14
@mikebronner @cillosis Thanks for your suggestions. They are good solutions for sites have multiple view pages. but for a site uses react as its view, it only needs on blade file, which is the layout file.

[2016-02-26 18:46] mikebronner commented on #14
For SPA's you would want it to refresh all the time, as its really only a single page. If you don't keep it refreshed for all pages in the SPA (Single Page App), the forms will no longer work when you get to a form if the session timed out. What is your use case that makes you want to not keep the forms awake?

[2016-02-26 18:49] shangsunset commented on #14
I want to keep forms awake, but users session wont expire even though they didnt check 'remember me'.

[2016-02-26 18:52] mikebronner commented on #14
That is the intended behavior. User sessions will expire after they logout or close the site and don't access their session for the given timeout period (default is 120 minutes set in `config/session.php`).

[2016-02-26 18:56] shangsunset commented on #14
ohh i see. thank you!

[2016-02-27 20:15] opheliadesign commented on #26
Laravel 5.2 project, same overall issue here. I have Caffeine installed as instructed in the docs, it does appear to be working at all anymore. Receiving TokenMismatchException errors for the login form and Ajax pages throughout the project. Here is my CSRF token meta:
[code]
I am also using VueJS, same settings as olimorris

[2016-03-06 20:47] olimorris commented on #26
@mikebronner I owe you an apology! I was using this on my dev machine and `Laravel DebugBar` always seems to these errors:

[code]

Now when I use BarryVDH's `Cors` package, these errors stop and Laravel Caffeine works.

@opheliadesign can you see if you're having the exact same issues then I think this issue can be closed!

[2016-03-06 21:03] mikebronner commented on #26
Ah, that's good to know! I will add a note to the README.

[2016-03-13 21:41] opheliadesign commented on #26
Ugh apparently I either had an idiot moment or just missed a step, the middleware line was missing. All better now :)

[2016-03-14 05:58] #26 closed

[2016-03-23 00:49] gavinbenda commented on #7
Interesting issue, maybe there could be a 'manual' mode so a blade include file could just be used rather than via middleware (perhaps the 'automated injection' of the code controlled on/off by route groups).

I'm having an issue using Former (https://github.com/formers/former) as it automatically generates fields on render, however because this gets rendered twice, it will calculate names of form

[2016-04-15 17:48] bmcgoffin opened #27 "Working with Content Security Policy"
Greetings,

I am implementing CSP (content security policy) within my project and realized the policy is blocking the caffeine script from running.  I could add 'unsafe-eval' but wouldn't this open up the possibility of XSS attacks (ref: http://stackoverflow.com/questions/8502307/chrome-18-how-to-allow-inline-scripting-with-a-content-security-policy)?  I've attached 3 images (1st is the CSP, 2nd i

[2016-04-15 17:50] mikebronner commented on #27
Don't forget the images :) Thanks for posting the issue :)

[2016-04-15 18:00] bmcgoffin commented on #27
Mike, updated the post to show the images, thanks!

[2016-04-15 18:03] mikebronner commented on #27
Thanks -- I will take a look at this over the weekend and see what can be done. Thanks again for bringing this up! :)

[2016-06-14 20:44] Propaganistas opened #28 "Configurable route"
Why didn't you incorporate the configurable route as proposed in #9? This is really a huge bummer for me and makes me fork your package for just this small change.

[2016-06-16 03:03] mikebronner commented on #28
Hi @Propaganistas, I'll look into it this weekend. Thanks for bringing it up again and letting me know it really is something that is needed. I was on the fence for a one-off, but if its something that prevents people from using the package, no problem.

Thanks! :)
~Mike

[2016-06-16 03:04] mikebronner commented on #7
I have a possible fix for this. Will try it out this weekend.

[2016-06-18 14:12] mikebronner commented on #28
@Propaganistas I would like to understand your use-case a bit more, as to why you need configurable routes. (The current implemtation should not collide with any other routes, and its not a public route visible in the browser's address bar.)

I'm not against doing this, however, I would like to better understand the reasoning why this is needed. (This will help me greatly going forward with this a

[2016-06-18 15:00] mikebronner commented on #27
@bmcgoffin I am unable to reproduce this. I'm not sure I understand completely, but Caffeine shouldn't be triggering a CSP warning, since its on the same domain? Can you provide steps to reproduce? I have installed `stevenmaguire/laravel-middleware-csp` and set the middleware on my default test route, like so:

[code]

[2016-06-18 15:53] mikebronner commented on #7
Update: sorry, no dice at the moment. I was hoping to hook into a view rendered event, but there doesn't seem to be one. I would consider filing a bug report with the packages that have these issues.

From a macro perspective, any package shouldn't be susceptible to the number of times a page is pre-rendered before it is output to the browser. While I would have liked to be able to find a work-aro

[2016-06-19 08:20] Propaganistas commented on #28
Hi @mikebronner. The reason is actually plain simple: the current route is branded with your company name. And inspite the route isn't publicly visible in the address bar, it does get printed in a page's source code.

[2016-06-21 13:47] mikebronner commented on #28
Fixed in release 0.3.10

[2016-06-21 13:47] #28 closed

[2016-06-21 18:17] Propaganistas commented on #28
Great, thanks!

[2016-06-30 11:00] garygreen opened #30 "Get rid of the middleware"
Just out of curiosity, why does there need to be a middleware? Can't there just be one JavaScript file you include which will check the HTML on ready for a `<meta>` or `<input>` tag with token?

I personally don't like having too many intercepting middlewares altering the output etc, would much prefer a tiny bit of vanilla js included in each page checking a few tags.

[2016-06-30 11:14] garygreen opened #31 "caffeine vs session.lifetime"
Would you be able to explain what the difference between just upping the value of `lifetime` is and what caffeine provides? One of your points per the doc is:

Can't that essentially be achieved by setting `lifetime` to a very high value?

[2016-06-30 11:28] garygreen opened #32 "Add warning session is expiring"
This package is focused around always keeping forms alive, a bit of a security problem imo that's why the whole expiry thing is default in Laravel.

It would be nice to have an option where the user is prompted (via a model alert) when the session is about to expire and give them a button to stay active (essentially sending the 'drip'). This is a similar same way the banking industry handle form/s

[2016-06-30 19:56] francislavoie commented on #31
I just randomly fell upon this...

The point is that is if the browser is closed, (no pages to the site still open), the user can come back within the 2 hour (default) lifetime to keep using their session. This lib allows that behavior to still work, where if a browser is closed for longer than the lifetime, then the session actually expires. This lib just prevents expiry if a page is still open,

[2016-07-02 23:39] mikebronner commented on #32
Hi @garygreen, yes, I am familiar with that approach as well, and thought about something similar while developing this package. However, it's a slightly different use case, and as such don't feel it should be included in this package.

I have had need for the session-count-down option as well though, so perhaps I'll create a package for that sometime down the road if I come across a project that

[2016-07-02 23:39] #32 closed

[2016-07-02 23:47] mikebronner commented on #31
Hi @garygreen - @francislavoie is right. This package is not intended for secure sites.

- It will only prolong the session on pages that have forms in them.
- it is meant for sites where it is intented for forms not to time out.
- Session WILL expire if the user's computer goes to sleep (the drips seize being sent).
- It is meant to remain secure, as long as the user' computer remains secure (i.e

[2016-07-02 23:47] #31 closed

[2016-07-02 23:48] mikebronner commented on #30
The point of this package is to make it a drop-in solution where the developer doesn't need to do any additional config or setup. This is not meant to be a solution for everyone, and I completely understand if it doesn't fit your use case. :)

[2016-07-02 23:48] #30 closed

[2016-07-30 10:01] reefki opened #33 "Am I do it wrong?"
I set the session life time to one minute to test it out, my app is SPA with vuejs so instead of using laravel caffeine middleware I use following code to send drip:

[code]

I define a new drip route like so:

[code]

I see that in network tabs it sends the drip every 10 seconds, I leave the page open for a while after filled the form and after few minutes hit the submit button and I still get to

[2016-07-30 10:53] ivanvermeyen commented on #33
is your route using the "web" middleware group, so it knows about the session?

[2016-07-30 11:56] reefki commented on #33
Yes, in Laravel 5.2 the `web` middleware is automatically applied to all routes.

[2016-07-30 12:30] ivanvermeyen commented on #33
Are you sending the CSRF token with the Vue request?
Answer found on [this post](https://laracasts.com/discuss/channels/laravel/processing-ajax-requests-from-vuejs):

Put this in the `<head>` element:

[code]

If you are using the Vue http lib, use this code to include the token:

[code]

If you are using jQuery, use this code:

[code]

This will automatically send the token with each request.

[2016-07-30 13:11] mikebronner commented on #33
Hi @reefki, unfortunately this package isn't really built for SPAs. If you want to keep an SPA from timing out, it's best to increase the lifetime of the session. The only benefit this might have is that your session will never time out, as long as the browser is open.

Also, no need to create a route another route. Use the route provided in the package. In the configuration you have the option of

[2016-07-30 16:07] mikebronner commented on #33
Just as a side-note:I am considering implementing functionality that will work better with SPAs going forward, as I am adopting them more often as well, but haven't given it too much though yet.

[2016-07-30 17:13] reefki commented on #33
@ivanvermeyen Thanks for your reply. Yes, I include the token via interceptor:

[code]

The form is working if the `csrf_token` still valid. As I said in the beginning the problems occurs if the token has expired.

@mikebronner I think it should be work either SPA or non SPA as long the app sending drip, right?

Thanks for the tips about Caffeine route, but since a SPA is using wildcard route and

[2016-08-05 23:13] mikebronner commented on #33
@reefki the package should be creating the route on the PHP server side of things. You don't need to create a route in your SPA, since that's only for client functionality. Or am I understanding the scenario incorrectly? If you don't create a route, what error do you get?

[2016-08-06 12:04] reefki commented on #33
@mikebronner No, I didn't create drip route on the frontend, see on initial post I defined a new route on `routes.php`.

I've tried to use the Caffeine route `http://app.dev/genealabs/laravel-caffeine/drip` but instead of returning `204` status code the server redirect the request to the wildcard route and return `200` status code. See image below, the response contains code from `index.blade.php`

[2016-08-06 23:29] mikebronner commented on #33
@reefki, thanks prividing the details of the router and the response. The problem is that you have an "any" route defined that will respond to any request. That's not something I would ever recommend doing, it makes a whole bunch of assumptions. I would only create the route that is valid for your SPA, and return 404 for anything else that is not a valid route.

What's happening here is that your

[2016-08-06 23:33] mikebronner commented on #27
Please re-open this issue if the problem persists. I will close it for now, since I didn't hear back and have been unable to reproduce it.

[2016-08-06 23:33] #27 closed

[2016-08-07 22:18] reefki commented on #33
@mikebronner The "any" wildcard is something that really important in my app, I wouldn't mind to define my 50+ routes both on `routes.php` and `routes.js`, a SPA only requires one page to be rendered once it's loaded which is `index.blade.php` in my case. If I follow your advice:

It would only makes my `routes.php` full of redundant:

[code]

Remember, as I said earlier my app is using HTML5 Hist

[2016-08-07 22:52] mikebronner commented on #33
Thanks for the clarification on your use-case. Unfortunately, I would recommend you not use Laravel Caffeine at this time, as it provides no real benefit to you. Right now, the way it works with SPAs is the exact same effect as setting sessions to a large expiration. I think that is the better solution for you at this point.

Sorry, I know this wasn't the answer you are looking for, but Laravel Ca

[2016-08-07 22:52] #33 closed

[2016-08-09 18:19] larsbo commented on #28
Another problem with the hard-coded route is that it doesn't work for laravel installations in subdirectories because the route starts with a `/`.

What about adding the configurable route to the 0.2.x branch for laravel 5.1 users?

[2016-08-10 19:15] mikebronner opened #34 "Backport configurable routes to version 0.2.x"
From @larsbo:

[2016-08-10 19:16] mikebronner commented on #28
@larsbo: moved to new issue #34. Makes sense.

[2016-09-02 10:55] allotmentandy opened #35 "https not http for the dripper"
hi,

i want to know how to force the caffeine dripper to use a https url instead of a http? is there a way to add a setting FORCE_HTTPS?

kind regards

Andy

[2016-09-02 13:40] mikebronner commented on #35
The drip url is generated using the `url()` helper, which gets the base url from Laravel. This means it will use the same schema as your Laravel app is configured to use.

Do you have a use-case where you wouldn't want it to behave this way? (If your Laravel app is on HTTPS, but drip is not pointing to HTTPS, my guess is there is probably a configuration issue in your Laravel app.) Please let me k

[2016-09-02 13:56] allotmentandy commented on #35
hi, thanks for the reply.

i have the laravel app running behind a load balancer. so the internal laravel system is http but the client facing part is https.

i have changed the line in the middleware to just call
$dripUrl = '/genealabs/laravel-caffeine/drip';

as the url part is broken, when i use the load balancer.

but it is going to break when there is an update!

Andy

[2016-09-02 14:01] mikebronner commented on #35
Excellent use case, I forgot to consider that! Thanks for bringing this up, I will add that as a configuration option.

[2016-09-02 14:08] allotmentandy commented on #35
could you just have a full url in the config file?

[2016-09-02 14:12] mikebronner commented on #35
Will definitely consider it. It will probably be two config values, one for the base URL (schema and domain) and another for the actual route on the app.

[2016-09-02 14:13] allotmentandy commented on #35
yes, perhaps you can have url() as the default for the first one, so i can overright it.

thanks for a great package and great service.

[2016-09-03 02:10] mikebronner opened #36 "Add Unit Tests"

[2016-09-03 02:10] mikebronner opened #37 "Make Laravel5.3-Compatible"

[2016-09-03 02:11] mikebronner opened #38 "Make Laravel5.1 Compatible (LTS)"

[2016-09-03 03:19] #35 closed

[2016-09-10 02:41] nfauchelle commented on #7
I just ran into this issue, took me a little bit of hunting to pin it down to caffeine!

What I would suggest is two install methods.
1 - Use the Middleware as current.
2 - Manual insertion of something like {!! insert_caffeine_drip() !!} in page body above the </body>

Doing this would be quite straight forward (roughly)
* Extract out the generation of the javascript to the Helper class in the pa

[2016-09-12 15:54] mikebronner commented on #7
Thanks for the update on this, Nick. If you could provide a working demonstration of the issue with a test repo, that would be great. I have not yet been able to replicate this, or have someone provide a working example of this issue.

[2016-09-13 11:08] nfauchelle commented on #7
@mikebronner
Sure, I can reproduce it with this:

- composer create-project --prefer-dist laravel/laravel caffeine-test
- cd caffeine-test
- composer require genealabs/laravel-caffeine:~0.3.0
- edit config/app.php for the Service Provider
- edit the app/Http/kernel.php for the Middleware
- edit resources/views/welcome.blade.php, append ```<?php \Log::info('Rendered welcome') ?>``` to bottom of vie

[2016-09-16 00:48] jwondrusch commented on #7
Can confirm we're encountering this also.  It causes errors when pulling information from session such as errors or alerts we've got stored there.  @nfauchelle has a good test case.

[2016-09-23 17:39] Kyosfonica opened #39 "Domain url('/') breaks artisan optimize"
The domain => url('/') setting is breaking Laravel 5.2 artisan command.

The website works, but the artisan command crashes with a routing error.

PHP Catchable fatal error:  Argument 2 passed to Illuminate\Routing\UrlGenerator::__construct() must be an instance of Illuminate\Http\Request, null given, called in /home/vagrant/Code/salunet/vendor/laravel/framework/src/Illuminate/Routing/RoutingServi

[2016-09-23 19:20] mikebronner commented on #39
hi @Kyosfonica thanks for repoting the issue! Can you attach the full stack trace of the error, please?

[2016-09-23 19:28] Kyosfonica commented on #39
Hi,

Sure, here it is. I have published the config file so its home is /config. But all configs are default.

I hope it helps

vagrant@homestead:~/Code/salunet$ php artisan optimize
PHP Catchable fatal error:  Argument 2 passed to Illuminate\Routing\UrlGenerator::__construct() must be an instance of Illuminate\Http\Request, null given, called in /home/vagrant/Code/salunet/vendor/laravel/framework/

[2016-09-23 19:30] mikebronner commented on #39
Thanks, can you also post your caffeine config file? :)

[2016-09-23 19:31] Kyosfonica commented on #39
<?php

return [
    'dripIntervalInMilliSeconds' => 300000,
    'domain' => url('/'),
    'route' => 'genealabs/laravel-caffeine/drip',
];

[2016-09-23 19:34] mikebronner commented on #39
Thanks! :) One more question: what does the following output:

[code]

[2016-09-23 19:35] Kyosfonica commented on #39
artisan crashes

vagrant@homestead:~/Code/salunet$ php artisan tinker
PHP Catchable fatal error:  Argument 2 passed to Illuminate\Routing\UrlGenerator::__construct() must be an instance of Illuminate\Http\Request, null given, called in /home/vagrant/Code/salunet/vendor/laravel/framework/src/Illuminate/Routing/RoutingServiceProvider.php on line 62 and defined in /home/vagrant/Code/salunet/vendor/la

[2016-09-23 19:36] mikebronner commented on #39
Egads ... should have expected that, sorry. What is the APP_URL environment variable set to in your `.env` file?

[2016-09-23 19:41] Kyosfonica commented on #39
APP_URL=http://localhost

If I comment out the service provider it crashes.
If I comment out the published config file it works.

vagrant@homestead:~/Code/salunet$ php artisan tinker
Psy Shell v0.7.2 (PHP 5.6.13-1+deb.sury.org~trusty+3 — cli) by Justin Hileman

=> "http://localhost"

[2016-09-23 19:43] mikebronner commented on #39
Thanks for the report, I will look into this weekend. If you happen to come across a fix, please let me know and I will fix it ASAP. :) My initial hunch is that it's a configuration problem, and not necessarily an issue with the package itself, but I'll have to reproduce the issue first.

[2016-09-23 20:06] Kyosfonica commented on #39
It seems that in config files you are not supposed to use framework helpers.
https://github.com/laravel/framework/issues/7671

[2016-09-24 08:10] kjfdebruin commented on #37
What's the current state of compatibility with 5.3?

[2016-09-24 16:58] mikebronner commented on #37
@kjfdebruin It should theoretically work, I just haven't tested it yet ... have you tried it? I'm working on some internal optimizations and am testing with L5.3 this weekend, but let me know how it goes with the current version. :)

[2016-09-24 23:34] #38 closed

[2016-09-24 23:34] #37 closed

[2016-09-24 23:35] mikebronner commented on #37
Should be working now. Please check out version 0.4.0 (which includes optimizations and installation changes, be sure to read the readme). Let me know how it works.

[2016-09-24 23:45] mikebronner commented on #34
Not going to do this -- will only support LTS and current version.

[2016-09-24 23:45] #34 closed

[2016-09-24 23:46] mikebronner commented on #39
Thanks! I updated the readme, and released a new version for L5.3 (0.4.0), can you give it a shot and see how it works? You will need to republish the config file. (If you aren't making any changes to config, I would recommend not publishing it.) -- Closing for now, but if the issue persists, please re-open. Thanks! :)

[2016-09-24 23:46] #39 closed

[2016-09-24 23:47] #7 closed

[2016-09-24 23:48] mikebronner commented on #7
This should now be fixed in version 0.4.0. I haven't had time to specifically test this issue, but could you guys give it a go and let me know? Thanks! :) Closing for now, please re-open if you still see this issue.

[2016-09-24 23:49] mikebronner commented on #36
Not really viable for this package at this time.

[2016-09-24 23:49] #36 closed

[2016-09-25 01:11] nfauchelle commented on #7
@mikebronner
Was set to test it, but it now requires PHP7, so I cant jump to 0.4.0...

If I modify my
```vendor/genealabs/laravel-caffeine/src/Http/Middleware/LaravelCaffeineDripMiddleware.php``` based on https://github.com/GeneaLabs/laravel-caffeine/commit/be1bc135e735745f27e89fe13e28838c1451c358 then the issue is fixed. So I guess I can just make my own Middleware for the fix.

Thanks.

[2016-09-25 01:16] mikebronner commented on #7
Give me a sec, I will make a 0.3.12 version just for you. :)

[2016-09-25 01:25] mikebronner commented on #7
ok, try installing 0.3.12 ... let me know how it goes.

[2016-09-25 01:30] nfauchelle commented on #7
Thanks, thats fixed :-)

[2016-09-27 11:26] jcornil opened #40 "ServiceProvider path and middlewareGroupExists() error"
Right after the installation of 5.3, I got "ServiceProvider not found" error.

Class 'GeneaLabs\LaravelCaffeine\LaravelCaffeineServiceProvider' not found

I guess service provider path and file name has been changed to...

GeneaLabs\LaravelCaffeine\Providers\LaravelCaffeineService::class,

right?

But, when I change the path and file name, I get type error.

Type error: Return value of GeneaLabs\L

[2016-09-27 13:12] mikebronner commented on #40
Thanks for reporting this. :) This sounds like an error from a dev-master version ... do you have version 0.4.0 installed?

[2016-09-27 13:35] jcornil commented on #40
Yes, I have version 0.4.0.

[2016-09-27 13:37] mikebronner commented on #40
My appologies for the problems. I am looking into that straight away and should have a fix, if I can reproduce it, within the next 30 mins.

[2016-09-27 13:52] mikebronner commented on #40
can you do me a favor and paste the content of the following file here: `/vendor/genealabs/laravel-caffeine/src/Providers/LaravelCaffeineService.php`? I am currently unable to reproduce the issue and want to verify that your code looks the same as mine. :)

[2016-09-27 13:57] jcornil commented on #40
Sure...

<?php namespace GeneaLabs\LaravelCaffeine\Providers;

use GeneaLabs\LaravelCaffeine\Http\Middleware\LaravelCaffeineDripMiddleware;
use Illuminate\Support\ServiceProvider;

class LaravelCaffeineService extends ServiceProvider
{
    protected $defer = false;

    public function boot()
    {
        app('router')->group($this->middlewareGroupExists('web')
            ? ['middleware' => 'web

[2016-09-27 14:01] mikebronner commented on #40
That all looks right ... I'm baffled ... do you have a `/config/genealabs-laravel-caffeine.php` file by any chance? Could you delete that and try again?

[2016-09-27 14:03] jcornil commented on #40
No, I don't have that file published.

[2016-09-27 14:09] mikebronner commented on #40
Ah! I found the problem, fix is incoming. For some reason it does not find your routes (probably an upgrade issue).

[2016-09-27 14:12] mikebronner commented on #40
0.4.1 released. It should be available for composer update any minute. Let me know if that works -- if you have any issues, please reopen. :) Thanks for reporting this!

[2016-09-27 14:12] #40 closed

[2016-09-27 14:17] jcornil commented on #40
Yeah~ now it works. Thanks. :)

[2016-09-28 15:43] bfblackjack opened #41 "Laravel 5.3 Not Compatible"
Upon installing laravel caffeine, laravel fails to find the package/service provider.

Composer.json has the correct entry -- "genealabs/laravel-caffeine": "^0.4.1"

Application service provider in config/app has been added - GeneaLabs\LaravelCaffeine\LaravelCaffeineServiceProvider::class,

Yet artisan throws the following error..

 [Symfony\Component\Debug\Exception\FatalThrowableError]
 Class 'G

[2016-09-28 15:51] mikebronner commented on #41
The issue is the service provider. It has been renamed (I'm guessing you're upgrading from a previous version?):

[code]

[2016-09-28 15:54] bfblackjack commented on #41
@mikebronner Thanks for the quick reply. Looks like it works now! The readme still lists the previous service provider so I was unaware that was changed. Thanks!

[2016-09-28 15:56] mikebronner commented on #41
Oi!! Thanks for catching that ... I thought I fixed it, doing that now.

[2016-09-28 15:56] #41 closed

[2016-09-29 13:06] Smiley01987 opened #42 "url() function in the config file breaks artisan"
The url function inside the generated config file breaks the artisan command.

Laravel Framework version 5.1.31 (LTS)

Stacktrace:

Catchable fatal error: Argument 2 passed to Illuminate\Routing\UrlGenerator::__construct() must be an instance of Illuminate\Http\Request, null given, called in /Users/xxx/Documents/xxx/xxx/xxx/vendor/laravel/framework/src/Illuminate/Routing/RoutingServiceProvider.php

[2016-09-29 13:49] mikebronner commented on #42
Duplicate of #39. This is already resolved and the readme updated, please update your config file accordingly. (Thanks non-the-less for reporting it!) :)

[2016-09-29 13:49] #42 closed

[2016-09-29 14:22] mikebronner opened #43 "Ignore L5.3 Logout Form"
Laravel 5.3 changed its logout route to be a post, and uses a form in the menu to do so. This has the unintended consequence of keeping the session alive indefinitely, something we don't want.

I would like to explore options to not keep the session alive, yet remain user-friendly. Not sure how feasable this is:
- Do not keep session alive if only the logout form and no other form is rendered.

[2016-10-02 09:00] patpaskoch opened #44 "Problems with the installation"
working with laravel 5.2.45

installed via `composer require genealabs/laravel-caffeine:~0.3.11`

inserted in the config/app file

`GeneaLabs\LaravelCaffeine\Providers\LaravelCaffeineService::class,`

but laravel throws

error.

g patrick

[2016-10-02 09:46] patpaskoch commented on #44
I got it working by replaceing

'GeneaLabs\LaravelCaffeine\Providers\LaravelCaffeineService'

with

`GeneaLabs\LaravelCaffeine\LaravelCaffeineServiceProvider::class`

no it also shows the  route in the php artisan route:list

[2016-10-02 13:35] mikebronner commented on #44
Ah yes, the new version doesn't support 5.2. I will update the documentation to be more explicit and direct you to the proper documentation for that version. Thanks for reporting this. :)

[2016-10-02 13:37] patpaskoch commented on #44
so 5.2.* versions are not supported also not with

`genealabs/laravel-caffeine:~0.3.11` ?

[2016-10-02 13:41] mikebronner commented on #44
Version 0.3.12 supports Laravel 5.2, while version 0.4.x is for Laravel 5.1 (LTS) and 5.3 (current). The README shows documentation for the latest version, and hence the instructions for adding the provider in `config/app.php` weren't the correct ones for your version. :)

[2016-10-02 13:53] patpaskoch commented on #44
ah ok so if I made the adjustments in `config/app.php`, and I see the genealabs route in my route:list it should work fine.

thanks for the support and the whole project.

[2016-10-03 22:36] mikebronner commented on #44
I think so. Double check back when I have the correct README for version 0.3.x in place, just to make sure. :) Should be within the next few days.

[2016-10-04 05:34] patpaskoch commented on #44
ok

[2016-10-09 19:20] marcelgruber commented on #44
Looking forward to this. Thanks.

[2016-10-09 19:28] mikebronner commented on #44
This should now be updated on the master README of the repo (added link to 5.2 instructions). Thanks for your patience. :)

[2016-10-09 19:28] #44 closed

[2016-10-09 19:35] marcelgruber commented on #44
Hmm, interesting; it still seems to not work for 5.2. I will let you know what I find.

[2016-10-09 19:36] mikebronner commented on #44
@marcelgruber can you provide any error messages, etc? What's not working specifically?

[2016-10-09 19:46] marcelgruber commented on #44
@mikebronner I followed the three steps, but the server is throwing a 500. Nothing seems to be added to my routes file after following the steps, though, so that could be the problem. Does there need to be a route added?
Cheers

[2016-10-09 19:52] mikebronner commented on #44
If you're getting a 500 error, try and follow it back to the root cause by checking your laravel log file and debugging. It may be something completely unrelated or a configuration issue.

Double-check the following as well:
1 you have added the following provider entry in `/config/app.php`:
[code]
2. Check your composer.lock file to make sure the version installed is `0.3.12`. If not, delete the

[2016-10-09 20:00] marcelgruber commented on #44
Will do. I'll be sure to let you know if I find anything that could contribute here.

[2016-10-09 21:17] marcelgruber commented on #44
`composer update` seems to have fixed the issue. Thanks so much!

[2016-10-09 21:18] mikebronner commented on #44
Great news :-)

[2016-10-09 22:21] marcelgruber commented on #44
PS, I did manage to find something worth contributing.

If one publishes the config file via the command

`php artisan vendor:publish --tag=genealabs-laravel-caffeine`

And then attempts to do any composer commands

PHP Catchable fatal error:  Argument 2 passed to Illuminate\Routing\UrlGenerator::__construct() must be an instance of Illuminate\Http\Request, null given, called in /var/www/html/proj

[2016-10-10 14:01] felorodri commented on #44
@marcelgruber Reading your last error after you publish your config file... seems like you kept the url() helper in the domain key of the config array. Can you confirm this?

[2016-10-10 16:14] mikebronner commented on #44
@felorodri thanks for jumping in and helping out with the solution. :)

[2016-10-10 16:55] marcelgruber commented on #44
@felorodri You are correct in saying that the url('') line is in there which could be problematic. This is the exact code that gets initially published:

<?php

return [
    'dripIntervalInMilliSeconds' => 300000,
    'domain' => url('/'),
    'route' => 'genealabs/laravel-caffeine/drip',
];

If I change the `url('/')` code to `'/'`, there are no issues.

[2016-10-10 16:58] marcelgruber opened #45 "Feature request: specify specific routes for session preservation"
One problem I ran into is that my app has many forms throughout which has the effect of preserving a session indefinitely. I would like to be able to, in the configuration, specify pages in which drip can be applied to. I will likely do a pull request for this in the next few weeks. Cheers!

[2016-10-10 21:24] mikebronner commented on #45
Hi @marcelgruber -- would you consider being able to specify which form cause the drip to take effect in, for example:
[code]

I have been pondering this problem as well, as it applies to other situations (like the logout post form in Laravel 5.3).

The reason I like this solution than just doing it for all forms is that it is explicit and intentional. Would this work for you?

~Mike

[2016-10-10 21:32] marcelgruber commented on #45
That would actually be perfect.

On Mon, Oct 10, 2016 at 3:24 PM -0600, "Mike Bronner" <notifications@github.com> wrote:

Hi @marcelgruber -- would you consider being able to specify which form cause the drip to take effect in, for example:

<form data-drip="true">

I have been pondering this problem as well, as it applies to other situations (like the logout post form in Laravel 5.3).

The reason

[2016-10-13 21:40] ApeWare opened #46 "laravel-caffeine injecting itself into Groove Widget script"
I am trying to install the [Groove](https://www.groovehq.com/) Widget code into my project but part of the code for laravel-caffeine seems to be injected into the Groove widget code. It looks like the Groove widget creates an iFrame with a body tag and I am not sure if l-c is detecting this additional body tag and injecting code into it, breaking the widget.

Here is sample code for the GrooveHQ W

[2016-10-13 21:47] mikebronner commented on #46
Hi @ApeWare, thanks for reporting this! The next version will be one where you explicitly decide what forms Caffeine for Laravel should work on. This should address this, and some other issues. Unfortunately it takes us away from automagically working, but with Laravel now having the default logout route via POST (requiring a form on the front-end), and similar conflicts with other packages like y

[2016-10-13 23:51] ApeWare commented on #46
I like the automagically working aspect, as we have several forms and it currently "just works". If there were an option to "ignore specific forms" - for my specific case and maybe others who are running into conflicts like this - may be a preferred solution.

Either way I appreciate the response and consideration.

[2016-11-04 11:16] ivansammartino opened #47 "Default 'genealabs/laravel-caffeine/drip' route doesn't work"
Hello,
I installed Caffeine 0.4.1 on Laravel 5.3: to test, I setup session.lifetime = 1 (minute) and dripIntervalInMilliSeconds = 30000 (30 seconds); so, after one or more minute, I should be able to work on my form 'cause of Caffeine

Instead, I get a ```TokenMismatchException```
Giving some try, I changed Caffeine route parameter to a known one (i.e. '/') and wow, I don't get the ```TokenMismatc

[2016-11-04 15:54] mikebronner commented on #47
Hi @ivanhalen, I'm sorry you're having issues with this. Is this an upgraded project, or a brand new L5.3 project? I will investigate as well this weekend to see if something changed.

[2016-11-04 19:46] ivanhalen commented on #47
Thanks for reply, it's a brand new L5.3 project

[2016-11-06 09:07] mesqueeb opened #48 "How to know if Caffeine is working?"
I just installed Caffeine on Laravel 5.2.
How can I verify if I did everything correctly and it's working?
Cheers!

[2016-11-07 01:09] mikebronner commented on #48
There's not really much to notice. Open your browser development inspector, watch the drip request, make sure they don't error out. Leave your browser open on a page with a form, walk away for two hours, come back and check to see if you can still submit the form.

[2016-11-10 05:03] mesqueeb commented on #48
Dear Mike!
It doesn't seem to work. Maybe I installed it incorrectly, but I went over each step and double checked.
Any advice how to error check?

[2016-11-10 18:07] mikebronner commented on #48
Hi @mesqueeb, sorry for the troubles you are experiencing. I will double-check on a fresh L5.3 install later today and report back.

[2016-11-11 16:41] mesqueeb commented on #48
Hey Mike, I use 5.2!!

[2016-11-11 16:42] mikebronner commented on #48
@mesqueeb what was the issue (please share, might help others)?

[2016-11-11 16:45] mesqueeb commented on #48
Hey I followed these 3 steps here:
https://github.com/GeneaLabs/laravel-caffeine/tree/166e2ca08af7cc62a59360f33e03d1cb8478df6a

But my page doesnt get dripped.

1) Do i need to do "composer install" after require?

I have an inline token in my html's header.
2) Does the way this token is configured into the html matter for caffeine?

[2016-11-11 16:47] mikebronner commented on #48
Oh, sorry, misunderstood, thought you got it working. L5.2 is not supported. I only support LTS and current (5.3).

[2016-11-26 18:11] zippos commented on #48
Not related, but in app providers

GeneaLabs\LaravelCaffeine\Providers\LaravelCaffeineService::class,

should be changed to

GeneaLabs\LaravelCaffeine\LaravelCaffeineServiceProvider::class,

[2016-11-26 19:38] mikebronner commented on #48
@zippos That is only true for Laravel 5.2. For Laravel 5.1 and 5.3 the former format is the correct one.

[2016-11-26 20:03] zippos commented on #48
I'm using the latest version 5.3 and I had to use:

GeneaLabs\LaravelCaffeine\LaravelCaffeineServiceProvider::class,

Also I've needed to add the middleware.

Also the config file should not use url() function because it 5.3 the config files are loaded way earlier and that will cause an error. So instead of that you can use env('APP_URL')

[2016-11-26 20:08] mikebronner commented on #48
@zippos It sounds to me like you might not be using the most recent version. None of the steps you described above should be necessary. Please make sure you have version 0.4.1. Can you let me know which version you have installed so I can double-check? Thanks!

[2016-11-26 20:48] zippos commented on #48
That's true, my bad. I just pulled a few hours ago but since on this machine I'm using PHP 5.6, I got an earlier version due to stability reasons.

Sorry again. :)

[2016-11-27 01:53] mikebronner commented on #48
@zippos No worries, glad you got it sorted. :) Yea, there is a PHP dependency of the latest version 0.4.x to have PHP 7.0 or greater, that's probably what told the installer to use the older version.

@mesqueeb Have you been able to get it running?

[2016-12-14 13:51] Jono20201 commented on #47
Also having this same issue. Route is also not going under web middleware.

[2016-12-14 14:38] mikebronner commented on #47
@Jono20201 Thanks for letting me know ... sorry for the delay on this.

[2016-12-14 14:39] Jono20201 commented on #47
@mikebronner No worries. Im working on a possible PR to allow you to configure middleware via config options. Would this be something you would consider merging?

[2016-12-14 15:13] Jono20201 commented on #47
@mikebronner See: https://github.com/GeneaLabs/laravel-caffeine/pull/49

[2016-12-20 20:28] uxm commented on #48
When using
``composer require genealabs/laravel-caffeine,``

Version 0.3.12 is being installed. I am on Laravel version 5.3.22.

After reading the info above, I went and upgraded my localhost from PHP 5.6.15 to PHP 7.1. However, version 0.3.12 is still being installed. Am I missing something here?

[2016-12-21 22:51] uxm commented on #48
Just to update - I did solve this issue and got 0.4 installed. For some reason PHP 7 was showing in WAMP but was actually using 5.6. I couldn't get having both versions available working after a couple hours of work so I just went completely to PHP 7.

[2017-01-23 11:10] bbashy commented on #43
Since most projects have the meta tag for csrf-token on every page, that's the same issue?

[2017-01-23 13:34] mikebronner commented on #43
Yea, it is ... :(

[2017-01-23 16:11] chrisbaswell commented on #46
Ran into this issue myself today.  Any ideas when if it will be addressed soon?  We really would like to keep using this package b/c it just works.

[2017-01-24 08:23] jannejava opened #50 "Correct namespace to Caffine in readme for Laravel 5.3?"
# Issue
I get "Class 'GeneaLabs\LaravelCaffeine\Providers\LaravelCaffeineService' not found" if I follow the installation instructions on the front page.

Found an old github issue regarding problems with Laravel 5.2 and changed to GeneaLabs\LaravelCaffeine\LaravelCaffeineServiceProvider::class and I get passed the installation. Which one is the correct one for Laravel 5.3, or will there be any pr

[2017-01-26 07:38] jannejava commented on #48
I am on PHP7, Laravel 5.3.29 and I still get Version 0.3.12 when doing composer require. Have I missed something?

[2017-01-30 19:24] goranata opened #52 "Error code 255 in composer"
Hi,

Upon submiting vendor:publish as proposed, in the manual, I get a composer error code 255, on fresh new install on Laravel 5.2.

Generating autoload files

Script php artisan optimize handling the post-install-cmd event returned with error code 255.

Please advice,

[2017-01-30 22:40] mikebronner commented on #52
Hi @goranata, which version of larval-caffeine are you trying to install? The latest version is not compatible with L5.2.

[2017-01-31 15:01] goranata commented on #52
Hi @mikebronner,

Thanks for the reply.

I've tried everything as mentioned in the instructions.
After realizing the 5.2 compatibility issues, I've switched the whole project on 5.1. After vendor publishing, did the same as in 5.2.
I've also realized, that, upon switching to version 2, it installed version 3.12.

[2017-02-05 09:45] thesupad opened #54 "Having drip interval relative to session ?"
Hi,

Not an issue but a suggestion : what about setting by default the drip interval in relation of the session time configured ?

Maybe config("session.lifetime")*60*1000/2 on line 27 in the MiddleWare ?

[2017-02-25 10:15] lfsaestrella opened #56 "Getting TokenMismatchException after laravel session lifetime even after 0.3.11 caffeine version."
# Issue
Hello. I'm getting TokenMismatchException after Laravel session lifetime, just like closed issue #22. I did the same test as ivanvermeyen did: I set the session lifetime to 3 minutes and caffeine drips to 1 minute. I've checked the chrome network tab and the drips are being sent just like they should be. After 3 minutes (or 3 drips) I submit the form and then I get the TokenMismatchExcepti

[2017-02-25 11:26] mikebronner commented on #56
Give version 0.3.12 a try, let me know if the error still persists.

[2017-02-25 12:37] lfsaestrella commented on #56
Same issue, it still throws the exception. The same goes on the artisan command when I publish the config file.

[2017-02-25 19:26] mikebronner commented on #56
oh! yes, I remember ... you have to remove the `url('\')` helper command from the config file. That was fixed only in version 0.4 I believe. Replace it with `null` instead, so your config file should look like this:

[code]

[2017-02-25 19:26] #56 closed

[2017-02-25 20:34] lfsaestrella commented on #56
I replaced the `url('\')` and this is what happened: The network tab from chrome returned a 404 error from the drip, instead of the usual 204. The replacement fixed the artisan problem, but now it can't find the drip route. Also, the original issue had not been solved, as the TokenMismatchException continues to be thrown.

[2017-02-26 12:46] lfsaestrella opened #57 "Still Getting TokenMismatchException after laravel session lifetime even after 0.3.11 caffeine version."
The error isn't gone yet. I replaced the url('\') as you requested and this is what happened: The network tab from chrome returned a 404 error from the drip, instead of the usual 204. The replacement fixed the artisan problem, but now it can't find the drip route. Also, the original issue had not been solved, as the TokenMismatchException continues to be thrown.

[2017-02-26 23:36] mikebronner commented on #57
I need more to go on here. It sounds like there is a configuration issue. Can you remove the caffeine configuration file you published? Are you customizing anything in the configuration file?

[2017-02-26 23:44] mikebronner commented on #52
Can you post a screenshot of the console output?

[2017-02-26 23:45] mikebronner commented on #54
Thanks :) Will think on this.

[2017-02-27 13:46] lfsaestrella commented on #57
If I remove the configuration file, the drips interval goes back to the 5 minutes default. Then, I have to reconfigure the session interval to 6 minutes for testing. The TokenMismatchException is still thrown if I submit the login form after 6 minutes. I can see the drip being fired in the chrome network tab after 5 minutes, and it always has the expected 204 response. Although there are no errors

[2017-02-27 13:51] Jono20201 commented on #57
If you run `php artisan route:list --path=caffeine-drip` do you see anything listed under the middleware column? If so, what?

[2017-02-27 15:20] lfsaestrella commented on #57
An update: ivanvermeyen first solution on issue #22 worked. That is, creating my own route `Route::get('genealabs/laravel-caffeine/drip', ['uses' => 'PagesController@drip']);` and controller with drip method:

    public function drip()
    {
        return response('', 204);
    }

Answering @Jono20201: I think you meant to run
`php artisan route:list --path=caffeine/drip`
Is that it? Because the

[2017-02-27 15:33] Jono20201 commented on #57
You're correct, I must have modified the URL on my app.

I think this is the same issue as I was having, where it wasn't picking up the web middle ware. Unless this is set on the route it will not work as it cannot mofidy sessions.

I fixed this using a custom middleware option, currently a PR: #49

[2017-02-28 00:00] lfsaestrella commented on #57
Yes, I thought it could be some route misconfiguration, but I couldn't make it work even when I put the middleware inside the "web" group in Kernel.php. I also put the routes explicitly inside the web group and the result is the same.

[2017-02-28 23:04] mikebronner commented on #57
hi @Jono20201 and @lfsaestrella, thanks for looking into this some more. I will ponder on this... am considering various options on how to move forward, especially now with the L5.3 move to having logout button be a form.

[2017-03-14 09:29] Bulmer opened #58 "syntax errors in LaravelCaffeineService.php"
## Expected Behavior

## Actual Behavior
I have just installed laravel-caffeine and there seems to be multiple syntax errors on lines 28, 33 and 38.

## Environment
- PHP Version: 7.0
- Laravel Version: 5.4
- LaravelCaffeine Version:latest

## Stack Trace

[2017-03-14 09:30] Jono20201 commented on #58
Of which file(s)? With what error(s)?

[2017-03-14 10:41] Bulmer commented on #58
LaravelCaffeineService.php
The first one:
FatalErrorException in LaravelCaffeineService.php line 28:
syntax error, unexpected ':', expecting ';' or '{'

[2017-03-14 10:45] Jono20201 commented on #58
@Bulmer Your still running PHP 5.6 then. Its possible that your CLI PHP is 7.0 but your webserver PHP is not.

[2017-03-14 10:46] Bulmer commented on #58
Ok, false alarm. My PHP version jumped back to 5.6 at a recent reboot (im running both versions locally).

[2017-03-14 10:46] #58 closed

[2017-04-04 16:59] chuckienorton commented on #50
Thew newest version should be:

`GeneaLabs\LaravelCaffeine\LaravelCaffeineServiceProvider::class`

Can creator update the docs?

[2017-04-05 03:05] mikebronner commented on #50
You should be updating to package 0.4.x when using Laravel 5.3+.

[2017-04-05 03:05] #50 closed

[2017-04-05 12:51] marwan2 opened #60 "Can't get it intalled in Laravel 5.2"
After installation and add its Service Provider to my config/app.php
`GeneaLabs\LaravelCaffeine\Providers\LaravelCaffeineService::class,`

An error displayed:
`FatalErrorException in ProviderRepository.php line 146:
Class 'GeneaLabs\LaravelCaffeine\Providers\LaravelCaffeineServiceProvider' not found`

[2017-04-05 15:08] mikebronner commented on #60
Are you sure you followed the directions here: https://github.com/GeneaLabs/laravel-caffeine/tree/166e2ca08af7cc62a59360f33e03d1cb8478df6a? (The default readme does not apply to L5.2).

[2017-04-09 10:47] marwan2 commented on #60
Yes, I followed 5.2 docs,
I'll try to install it in a new clean project, and feed back you

[2017-04-10 17:04] mikebronner commented on #60
Sounds good, let me know how it goes. Unfortunately I won't be able to make any changes retro-active to 5.2 at this point.

[2017-04-17 07:33] idoooooo opened #62 "call url() helper in config file."
due to default $domain always 'null'
$domain = config('genealabs-laravel-caffeine.domain', url('/'));

and you have to set
"domain" => url('/')

will cause the artisan error like:

[Symfony\Component\Debug\Exception\FatalThrowableError]
  Type error: Argument 2 passed to Illuminate\Routing\UrlGenerator::__construct() must be an instance of Illuminate\H
  ttp\Request, null given, called in /..../ve

[2017-05-16 01:23] jass-trix commented on #62
what will be caused by that change?
is there any difference?

[2017-05-16 14:26] idoooooo commented on #62
route will not found if site is not in root directory.

On Tue, May 16, 2017 at 8:23 AM, Jasson Harsojo <notifications@github.com>
wrote:

[2017-05-16 23:37] mikebronner commented on #62
Thanks gifs, sorry for dropping the ball on this one. Looking into it now. @idoooooo was your comment geared toward @jass-trix , or is that an issue you have discovered?

[2017-05-16 23:50] mikebronner commented on #62
@idoooooo can you provide a complete stack trace and indicate what steps you took to trigger it, so I can reproduce? Thanks!

[2017-06-13 17:20] lostlian commented on #43
The issue would have refreshing the page every x minutes acording to the configuration file right?

[2017-06-13 17:43] lostlian opened #63 "Does it Work for L5.4?"
## Environment
- PHP Version: 7
- Laravel Version: 5.4
- LaravelCaffeine Version: 0.3.12

## Question
I just installed for a 5.4 laravel instalation running on forge. It doenst trace any errors. i dont know if it works yet. I openen a form and have being waiting for over 2 hours and it looks it works. But have you test it out? so i can push it to production?

[2017-06-13 20:08] maikealame commented on #62
Same error here !
[code]
And this my config
`'domain' => env("APP_URL",url('/')),`

My routes
`Route::get('/', ['as'=>'/','uses'=>'HomeController@index']);`

[2017-06-13 20:15] mikebronner commented on #63
Yes, I have it installed on L5.4 systems and testing has shown it to work. Please let me know if you encounter any issues, I will try to respond as quickly as I can. Thanks for using Caffeine! :)

[2017-06-13 20:15] #63 closed

[2017-06-13 20:17] mikebronner commented on #60
Closing as issue is stale, and on old version of Laravel.

[2017-06-13 20:17] #60 closed

[2017-06-13 20:19] mikebronner commented on #43
@lostlian no, the page itself does not refresh, but sends and AJAX request in the background. Essentially the issue is that if you have the logout form in the menu, its equivalent to having a session that never expires, and that is not good. I am still contemplating on a path forward that makes sense for this project.

[2017-06-14 16:05] mikebronner commented on #62
@maikealame unfortunately Laravel 5.2 is no longer supported with this plugin. You need to make sure to follow the 5.2 readme provided in the installation section. If you did that and it still doesn't work, I'm afraid the only suggestion I can offer is upgrading to Laravel 5.3 or 5.4.

Looking at your error above, I would wager it is not directly related to Caffeine, but something else interfering

[2017-06-16 11:44] SirPurpleness opened #64 "Routes completely broken after uninstall"
Laravel doesn't seem to be using any routes in /routes anymore, everything returns error 404 not found after I removed this.

config/app.php has been updated accordingly but nothing seem to fix this.

[2017-06-16 12:51] mikebronner commented on #64
@SirPurpleness I'm not sure what you mean. Can you provide a stack trace of the error? If you removed your routes file, I wouldn't think that has anything to do with this package? Why do you think Caffeine is the cause of the issue?

[2017-06-16 12:57] SirPurpleness commented on #64
I think this Caffeine is the issue as it changes the default web.php route that Laravel uses, as any changes I make to my routes/web.php have no effect on Laravel whatsoever. There's not much of a stack trace either, it only returns "NotFoundHttpException" as seen here http://prntscr.com/fki6f5 (so there's no error logs about it other than that).

[2017-06-16 13:13] mikebronner commented on #64
This seems more like you don't have the routes file properly configure in laravel. What is the URL you are trying to access when you get the notfoundhttpexception?

Also, please provide the following information:

Laravel Version (check composer.lock file)
PHP Version (check homestead, not the Mac)
Caffeine Version (check composer.lock file)

[2017-06-16 13:38] SirPurpleness commented on #64
All urls return notfoundhttpexception.

This is on a new install, and my routes worked before I came across Caffeine. If I use the route in (vendor\genealabs\laravel-caffeine\routes) then it does work, but if I remove Caffeine the /routes/web.php no longer works, so I can't see how my Laravel isn't properly configured.

Using 0.4.2 of Caffeine and Laravel 5.4.25.

[2017-06-16 13:41] mikebronner commented on #64
if all URLs return not found exceptions, that means your regular routes file is not being loaded.

[2017-06-16 13:44] SirPurpleness commented on #64
Yes, obviously. Then how come they are not being loaded after uninstalling Caffeine? Seems a bit odd to me. I did a fresh install of Laravel on a VPS of mine (worked well), and then transferred all files from /app, /config, /public, /resources and /routes and it instantly returns the same error. I checked all files it uploaded and can't find out what's wrong. So Caffine must have done something to

[2017-06-16 13:51] mikebronner commented on #64
I think the removal of caffeine and your routes not working is a coincidence. My best guess at this point is that you have a configuration problem in one of your config files, or perhaps in the `Kernel.php` class. Without more concrete information as to exactly how this is caused by caffeine there is unfortunately not much more I can do. Caffeine does not alter any code of your app, so if you have

[2017-06-16 14:02] SirPurpleness commented on #64
I can replace Kernel.php with the default one, and the config files, there's no difference. A thing I discovered though was that my changes to RouteServiceProvider.php has no effect as well.

[2017-06-16 14:05] mikebronner commented on #64
Start with a clean, brand new project. Verify that it works before doing anything. Then bring over your changes one at a time. Test after each change. That will tell you where something is broken.

[2017-06-27 14:47] mikebronner commented on #64
Closing for now. Please re-open if issue persists.

[2017-06-27 14:47] #64 closed

[2017-06-27 14:48] mikebronner commented on #62
Closing for now. Please open a new issue if this persists (one for each topic, we were getting two different issues going on here).

[2017-06-27 14:48] #62 closed

[2017-06-27 14:49] mikebronner commented on #52
Closing. Please re-open if issue persists.

[2017-06-27 14:49] #52 closed

[2017-06-27 14:50] mikebronner commented on #48
Closing. Please open new issue if persists.

[2017-06-27 14:50] #48 closed

[2017-06-27 14:52] mikebronner commented on #46
Closing for now, since this is quite old and some updates have been released in the mean time. Please open new issue if this is persisting.

[2017-06-27 14:52] #46 closed

[2017-06-27 14:52] mikebronner commented on #57
Closing ... will handle this as part of #43 .

[2017-06-27 14:52] #57 closed

[2017-06-27 15:24] ApeWare commented on #46
We switched from Groove so I can no longer confirm if the issue persists. Thanks.

[2017-06-27 18:23] mikebronner commented on #46
Thanks for the update. :)

[2017-07-17 06:22] developerMerna opened #65 "Interface 'App\Jobs\SelfHandling' not found"
Interface 'App\Jobs\SelfHandling' not found this error appear when we update laravel version from 5.1 to 5.4

[2017-07-17 14:38] mikebronner commented on #65
Hi @developerMerna thanks for reporting this. Can you please provide the entire stack trace of the error?

[2017-09-01 10:52] migas5000 opened #67 "Support for laravel 5.5"
## Expected Behavior

## Acutal Behavior
genealabs/laravel-caffeine 0.4.2 requires illuminate/support 5.1.* || 5.3.* || 5.4.* -> satisfiable by laravel/framework[v5.4.36], illuminate/support[v5.1.1, v5.1.13, v5.1.16, v5.1.2, v5.1.20, v5.1.22, v5.1.25, v5.1.28, v5.1.30, v5.1.31, v5.1.41, v5.1.6, v5.1.8, v5.3.0, v5.3.16, v5.3.23, v5.3.4, v5.4.0, v5.4.13, v5.4.17, v5.4.19, v5.4.27, v5.4.36, v5.4.9].

[2017-09-01 12:28] mikebronner commented on #67
You need to update the package version in your composer.json to the version that is compatible with L5.5.

[2017-09-01 12:28] #67 closed

[2017-09-04 06:10] s307553811 opened #68 "I need help"
## Expected Behavior

## Acutal Behavior

## Environment
- PHP : 7.0
- Laravel : 5.5
- LaravelCaffeine :0.5

## Stack Trace

我安装了他 但是我不知道无法使用他 比如我要创建新的模块时如何使用？
使用composer安装后 是否还需要进行其他操作？

I installed him, but I didn't know I couldn't use him. For example, how do I use the new module when I create it?
Do you need any additional operations after using the composer installation?

[2017-09-04 06:11] #68 closed

[2017-09-17 22:35] mikebronner commented on #65
Closing ... App\Jobs\SelfHandling is not part of this package's code-base.

[2017-09-17 22:35] #65 closed

[2017-09-17 22:39] mikebronner opened #69 "Add tests for ajax drip requests."

[2017-10-28 03:54] fredabel commented on #44
Hi everyone thanks for this package but I need to remove it but this what happens
![screen shot 2017-10-28 at 10 51 20 am](https://user-images.githubusercontent.com/31060728/32131025-a5e6b024-bbd6-11e7-826a-13376b8240f3.png)
I'm using laravel 5.4

[2017-10-28 12:03] mikebronner commented on #44
@fredabel please open a new issue for this so we can track this. thanks :)

[2017-12-05 15:11] kurtssmith opened #70 "LaravelCaffeine doesnt seem to be working"
## Expected Behavior
I login and successfully redirected to the destination page. I logout and I am successfully redirected to the login page.  I then wait for a long time on the login page and then try to login and I get redirected to the destination page

## Acutal Behavior
I login and successfully redirected to the destination page. I logout and I am successfully redirected to the login page.

[2017-12-05 15:17] mikebronner commented on #70
I'm not sure I understand correctly: you mentioned that you logged out, yet expect to be able to continue using the session?

Caffeine for Laravel does not prevent you from being logged out, is prevents the session from timing out on certain forms.

Also, make sure you update to the latest version of the package: 0.5.0 or 0.4.2 (for Laravel 5.4).

[2017-12-05 15:29] kurtssmith commented on #70
I am new to Laravel, so please excuse my ignorance on this.  Here is my issue, the logout is redirected to the login page.  if I sit on the login page for a while and I try to login I get the error described above.  So then to login I have to click the Back button on my browser to go get rid of the error page which goes back to the login page hit refresh, the page then reloads I then put in my log

[2017-12-05 15:31] mikebronner commented on #70
If you disable Caffeine for Laravel, do you experience the same issue?

[2017-12-05 16:04] kurtssmith commented on #70
Well it acts the same before and after I installed the package, so I don't know if it is actually working but it behaves as if it is not working

[2017-12-05 16:11] mikebronner commented on #70
In that case, it has nothing to do with Caffeine for Laravel, but is actual intended behavior of how Laravel works. The user is expected to refresh the login page. I will go ahead and close this for now, but please do let me know if you experience any issues with Caffeine in the future. :) Thanks for reaching out :) always better to be safe and check.

[2017-12-05 16:11] #70 closed

[2017-12-09 22:12] ItaloBC commented on #54
Why would you use a drip interval in relation to the session time? I don't see any kind of advantage doing this.

[2017-12-09 22:28] mikebronner commented on #54
Checking for when to reload the page is always dependent on session timeout. We should not be reloading the page arbitrarily if the session is not about to expire. The drip interval itself is not dependent on the session.

[2017-12-09 22:32] mikebronner commented on #54
@ItaloBC Sorry, mixed up the threads we are on. (As per the PR the threshold is relative to the session.)

At this point I do not think that it is necessary to make the drip relative to the session. The developer should be able to adjust this to their needs. Closing this for now. Thanks @thesupad for the suggestion, though!

[2017-12-09 22:32] #54 closed

[2017-12-09 22:32] ItaloBC commented on #54
lol I was ready to rant. jk,

[2017-12-09 22:34] mikebronner commented on #47
Closing, as old issue. Please resubmit it still occurring.

[2017-12-09 22:34] #47 closed

[2017-12-09 22:54] ItaloBC commented on #45
Personally I think is a good idea to add Caffeine as a kind of `middleware` inside the `Route` configuration, like this:

[code]

Let's break it down:

* `caffeine-drip`: make Caffeine look for forms with `csrf_token` automatically and apply the script. This is the default behavior.
* `caffeine-drip:exclude`:  Exclude Caffeine from adding the script here, whether or not has a form with `csrf_token

[2017-12-09 23:05] mikebronner commented on #45
Caffeine actually is already a middleware. It might be easiest to make it implementable as a route middleware as well. Unfortunately that is not something that can be automatically registered, so it would require some manual work. By default it would remain a global middleware, unless switched to a route middleware in the configuration. Thoughts?

[2017-12-09 23:13] ItaloBC commented on #45
Seems that can be [automatically registered](https://laracasts.com/discuss/channels/general-discussion/register-middleware-via-service-provider/replies/311164). For what I see, [`Illuminate\Routing\Route` has the implementation to register an alias for the middleware](https://laravel.com/api/5.5/Illuminate/Routing/Router.html#method_aliasMiddleware).

[2017-12-09 23:18] mikebronner commented on #45
The problem is regeistering in middleware groups ... I will take a look. (Not today though.)

[2017-12-09 23:31] mikebronner commented on #43
Will be addressed when looking at #45

[2017-12-09 23:31] #43 closed

[2017-12-10 19:32] #69 closed

[2017-12-11 03:55] mikebronner commented on #45
0.6.1 (soon to be released, just waiting for checks to pass) from PR #75 will have a way to disable drips on any given page via a meta tag on the page.

Will be adding route middleware on the next release (0.6.2), perhaps in a week or two, as I can get to it.

[2017-12-12 02:16] #45 closed

[2017-12-12 02:17] mikebronner commented on #45
Version 0.6.2 (to be released in a few minutes) will contain route-middleware functionality.

[2017-12-13 07:56] warmwhisky opened #77 "All my forms still expire"
I have set my 'drip-interval' => 59000 and my sessions 'lifetime' => env('SESSION_LIFETIME', 1),
but my form still expires. I have a search box on every page.

How can I properly test this. I am not that experienced with phpunit so I do not know how to test using your tests.

## Expected Behavior
Not expire
## Acutal Behavior
Expire
## Environment
- PHP Version: 7.1
- Laravel Version: 5.5
- Larave

[2017-12-13 09:05] MarcosBL commented on #77
+1, been using this package up to last week with no issues, today, in a new clean install, it doesn't inject the JS in the website, just doesn't work

[2017-12-13 11:07] mikebronner commented on #77
Thanks for reporting! Have either of you published the configuration file prior to updating to 0.6? The conf settings have changed, which might account for this problem. I will take a look and see what else might be affecting this. @MarcosBL can you provide all the version info as well (os, PHP, Laravel, package) to help give a better understanding? Thanks!

[2017-12-13 11:09] warmwhisky commented on #77
Mine was a fresh 5.5 install yesterday. I had the issue before generating the config file. I only generated it so I could change the milliseconds for testing, but got the same result.

[2017-12-13 11:11] mikebronner commented on #77
Try setting the drip interval to 5000 for testing, instead of 59000. Let me know how that goes.

[2017-12-13 11:30] MarcosBL commented on #77
Same here, fresh 5.5 Laravel install, issue before publishing, tried to publish to debug, saw the new format. I have a meta with the csrf token, had no forms, but inyected an empty one in the layout just to be sure: same thing, no JS inyected at all before </body>, no matter wich interval in config file.

As soon as I downgrade to 0.5.0, everything starts working fine

**Sys info**: Linux Mint 18.

[2017-12-13 12:13] mikebronner commented on #77
@MarcosBL can you post the page code that you are testing on? I want to see if I can replicate your exact situation. Thanks :)

[2017-12-13 12:47] mikebronner commented on #77
Is your page continuously refreshing, instead of dripping?

[2017-12-13 12:56] mikebronner commented on #77
I have tested it on my end in a brand new blank laravel project, and it is continuously dripping. Here is my blade file that I used to test:

[code]

**It is important that your session lifetime is greater than your drip interval, otherwise it wont work.**

[2017-12-13 13:53] mikebronner commented on #77
Also, are you still registering the package in the providers array of your app config? If so, it needs to be removed in L5.5 and up, as it will auto-register.

[2017-12-13 14:08] warmwhisky commented on #77
I just set 'drip-interval' => 5000 and 'lifetime' => env('SESSION_LIFETIME', 1) and it appears to be working now. I'm not sure if Chrome was caching anything?

Can you tell me how I can see this in console? Should it be seen in the network tab? Or is there any other way to monitor it firing?

[2017-12-13 16:33] mikebronner commented on #77
I would recommend keeping the session at the default 120 (or something larger than 5). setting it to 1 is not a realistic (only useful for testing) value and can result in strange behavior.

To inspect the drips, I look at the resources tab. You should see a new drip request every 5 seconds with your current setup.

[2017-12-14 05:05] warmwhisky commented on #77
No I wont be using those settings. I was just testing.

I am sorry but had a hectic day yesterday. I can no longer confirm I have it working. I am uninstalling to test without now.

I cannot see the resources tab in chrome. Where is that hidden? I thought it may be the network tab?

[2017-12-14 08:12] warmwhisky commented on #77
So sorry for my mistake yesterday. It's still not working for me. I tried to make it expire, but for some reason I couldn't. I don't know if laravel or chrome was caching anything or what was going on, but today after uninstalling, I finally for it to expire (very confusing) After a fresh install of caffeine just now, I confirm it is not working for me.

I am looking in the network tab for the dri

[2017-12-14 08:16] warmwhisky commented on #77
Here are the other packages installed in Laravel. Maybe there is a conflict?

    "require": {
        "php": ">=7.0.0",
        "barryvdh/laravel-debugbar": "^3.1",
        "barryvdh/laravel-ide-helper": "^2.4",
        "barryvdh/laravel-snappy": "^0.4.0",
        "fideloper/proxy": "~3.3",
        "genealabs/laravel-caffeine": "^0.6.2",
        "gloudemans/shoppingcart": "^2.4",
        "guzzleh

[2017-12-14 12:58] warmwhisky commented on #77
Im having difficulties debugging this. Now when I set my session value back to 120 it still expires within the minute. Is this a chrome issue? I've noticed lately that I need to clear my cache more often when editing CSS. And even sometimes clearing the cache does not work, I have open the css file in the browser and then click refresh for the new css rules to be seen.

[2017-12-14 14:02] mikebronner commented on #77
Are you checking for the drip on pages that have form? It will only drip if there is a form on the page, and the csrf-token is also on the page (either as meta tag or hidden field).

[2017-12-15 02:01] MarcosBL commented on #77
Sorry for the late response, made a fast debug and found `shouldRegisterGlobalMiddleware` function returning `false` in my app.

All checks pass, but `php_sapi_name` (`apache2handler` in my situation) and `app('env')` (`local` in my situation. I think that's the problem, the logic in that function, that didn't exists in the previous release. Does this help ?

My session lifetime is the default 120

[2017-12-15 03:09] mikebronner commented on #77
Ah!!!!! That's the missing link, I completely forgot to handle Apache. Could you try version 0.6.3 to see if the fix works?

Thanks!

[2017-12-15 08:21] MarcosBL commented on #77
Composer-updated and working fine, first try :+1:

Thanks !

[2017-12-15 10:41] mikebronner commented on #77
@warmwhisky did this fix it for you as well?

[2017-12-15 11:37] warmwhisky commented on #77
Sorry I was busy... Yep all sorted now. I can see the drip!

Thanks so much!

[2017-12-15 11:45] mikebronner commented on #77
Awesome, sorry I forgot about Apache use-case. Thanks for sticking with the debugging and helping get it sorted out :)

[2017-12-15 11:45] #77 closed

[2017-12-22 12:04] MoogyG opened #78 "Make an ajax request after sleep mode"
I don't see anything in javascript side handling this case.

Should we add an observer on page visibility or something else to ensure that we have to make an ajax call?

For me, "setInterval" is not sufficient in this case because if I am not wrong, in sleep mode, javascript just pause and get alive after. So it could spend hours between 2 ajax calls.

[2017-12-22 14:29] mikebronner commented on #78
Hi @MoogyG, do you have a solution in mind?

[2017-12-22 16:58] MoogyG commented on #78
Hi,

I made a quick test with this : https://github.com/serkanyersen/ifvisible.js

I wrote a setinterval every 500 ms and start it, then i enter in sleep mode, i wait 2 or 3 minutes and when i power on, it fires the event "idle".

Maybe you could extract the code for this event, and when it fires, check the timestamp of the last ajax request and call it if necessary.

[2017-12-22 17:19] mikebronner commented on #78
Thanks @MoogyG, will look into this. :) Give me a few days, since I'll probably be busy with other things over the holiday week (Christmas and New Year).

Happy Holidays!

[2017-12-22 18:25] MoogyG commented on #78
I am not sure that's a proper way and even if HTML5 could cover our case by another way.

Happy Holidays Mike.

[2018-01-06 02:04] nhtahoe opened #79 "Unable To Install on Laravel 5.4"
## Expected Behavior
`composer require genealabs/laravel-caffeine` successfully installs the package

## Acutal Behavior
[code]

## Environment
- PHP Version: 7.1.10-1
- Laravel Version: 5.4.36
- LaravelCaffeine Version: 0.6.3

## Stack Trace
(see Actual Behavior)

[2018-01-06 02:27] #79 closed

[2018-01-06 02:27] mikebronner commented on #79
Just made the update ... sorry about this. I accidentally reverted compatibility when improving the unit tests. :| Thanks for reporting!

[2018-01-30 09:09] agjino opened #82 "Breaking PHPUnit's assertViewIs()"
## Expected Behavior

In PHPUnit:

$response = $this->get('/testpage');
$response->assertViewIs('layouts.testpage');

Should return true.

## Acutal Behavior

Test fails with feedback: The response is not a view.

## Environment
- PHP Version: 7.1
- Laravel Version: 5.5
- LaravelCaffeine Version: 0.6.5 (latest as of this post)

## Manual fix
Removed Caffeine during tests from all pages using the h

[2018-02-04 23:55] mikebronner commented on #82
Thanks, will take a look. May take some time, I'm currently swamped with other things. :)

[2018-02-15 08:54] XavRsl opened #84 "composer require error"
## Expected Behavior
I'm expecting the package to be installed.

## Actual Behavior
Installation failed.

## Environment
- PHP Version: 7.1.11
- Laravel Version: 5.5.34
- LaravelCaffeine Version: none

## Stack Trace
$ composer require genealabs/laravel-caffeine

Using version ^0.6.7 for genealabs/laravel-caffeine
./composer.json has been updated
Loading composer repositories with package informat

[2018-02-15 14:26] mikebronner commented on #84
@XavRsl Thanks for reporting this! I just released a fix, should work now in release 0.6.8. Please let me know if you still have problems. :)

[2018-02-15 14:26] #84 closed

[2018-02-16 08:31] XavRsl commented on #84
Yep, problem solved.

Thanks!

[2018-02-16 14:03] mikebronner commented on #84
@XavRsl Awesome :)

[2018-04-09 20:57] ItaloBC opened #88 "Debugbar incompatibility"
## DELETE PLS

[2018-04-09 21:31] #88 closed

[2018-04-10 13:51] ItaloBC opened #89 "Forms still expire"
## Expected Behavior

Forms stills alive

## Actual Behavior

They expire

## Details

Using the middleware method, all the drips get 204, no problem so far. The only thing I noted is that after the session time expiration, the XSRF-TOKEN cookie being sent for the drip disappears.

It seems that Laravel doesn't want to maintain the token session alive in the form even if the drips are correctly se

[2018-04-10 14:24] darylthornhill opened #90 "CSRF Meta tag not getting updated."
## Expected Behavior
csrf-token meta should get updated on drip.

## Acutal Behavior
Im using axios, I am prepending the csrf-token from the meta to the headers of the axios request.
If i manually update my csrf meta tag then it gets picked up in axios however drip doesn't update the csrf-token meta.

## Environment
- PHP Version: 7.1
- Laravel Version: 5.6
- LaravelCaffeine Version: ^0.6.8

## St

[2018-04-10 14:34] ItaloBC commented on #90
Laravel Caffeine isn't compatible with SPA sites. POST methods will fail nonetheless whataver you are using,

There are two ways to tackle the problem:

- Use JWT for your forms.
- [Refresh the CSRF Token](https://medium.com/@serhii.matrunchyk/laravel-vue-spas-how-to-send-ajax-requests-and-not-run-into-csrf-tokens-mismatch-exceptions-da3b71b287ab) using Axios (or equivalent) to catch de 429 code t

[2018-04-10 14:39] darylthornhill commented on #90
@ItaloBC Surely if drip is supposed to update the meta tag of the html, then i can just grab that meta tag when i post though?

Currently Drip doesn't update the meta tag, it isn't changing. Even on standard blade pages.

The drip is running in the network tab in the developer tools window too.

[2018-04-10 14:47] ItaloBC commented on #90
@darylthornhill  No. The drip doens't update the token.

Waht Laravel Caffeine does is poking your App with a GET, which returns a [204 code](https://httpstatuses.com/204) (response OK with no body).

Before returning the response, in layman's terms, Laravel checks that the cookie_session is sent with the drip matches the session entry (a file, a database row, or whatever your driver is). If it is

[2018-04-10 15:17] ItaloBC commented on #89
## Update 2:

Removed Caffeine. Went to `web-php` and added my own drip route:

[code]

Then I made a GET with Axios to that point (which includes a CSRF token in the meta), and the form didn't expire.

Back to installing caffeine and see where the chain fails.

[2018-04-10 15:49] ItaloBC commented on #89
## Update 3 (This is weird)

Installed Caffeine,

I deleted the route declaration in `/routes/web.php` of this package:

[code]

Then I added the default route in my `web.php`, at root.

[code]

**Success**. Forms doesn't expire.

But it won't work if the route is declared using the `web.php` of this package.

So, *something* is interfering with the route that Caffeine is declaring, but at glance

[2018-04-10 15:54] ItaloBC commented on #89
## Update 4 (more weird things).

Adding the same code I added in my `web.php` in the `route/web.php` package gives the same problem:

[code]

[2018-04-10 16:55] darylthornhill commented on #90
Okay that makes sense why the meta isn’t changing.

However it doesn’t really make sense why my token is expiring.

If I set my token to expire in 4 mins and drip every 10 secs. After 4 mins
I get a token mismatch error. If using axios or another Ajaxy method.
On Tue, 10 Apr 2018 at 15:47, ItaloBC <notifications@github.com> wrote:

[2018-04-10 17:14] ItaloBC commented on #90
@darylthornhill May be it's related to #89

In my app my forms are expiring, and it's not SPA, regardless of the configuration and dripping status.

You can set your session lifetime to 1 min, and change this in `genealabs-laravel-caffeine.php`:

[code]

Make a view with a simple form and submit it after the minute. If everything is set correctly, you should get a successful submission. At least,

[2018-04-10 18:51] darylthornhill commented on #90
I just gave it a go and set the route up in my web.php routes file and it works. I'm pretty sure because in the web.php routes its hitting the verify csrf middleware.

As far as i can see the caffeine drip doesnt hit that middleware. That could be the problem?

[2018-04-10 22:08] ItaloBC commented on #90
@darylthornhill No, the dripping isn't related to verifying the CSRF Token. Otherwise, making a GET to any other route shouldn't refresh the session either.

[2018-04-10 23:17] darylthornhill commented on #90
Nah I meant the verify csrf middleware is the place that looks to refresh
the xsrf cookie.

Does drip rely on that?

Hence why creating your own route in the web.php works because it refreshes
that xsrf token and when it’s posted it’ll be a valid non expired token.

On Tue, 10 Apr 2018 at 23:08, ItaloBC <notifications@github.com> wrote:

[2018-04-10 23:36] darylthornhill commented on #90
I can see that caffeine looks for the web middleware.

The only reason why I can see that me manually adding the route vs using
just the caffeine plugin works is that maybe caffeine can’t see that the
web middleware exists.

I’ll have a gander into the source code of the plugin tomorrow and let you
know.

On Wed, 11 Apr 2018 at 00:16, Daryl Thornhill <
daryl.thornhill@googlemail.com> wrote:

[2018-04-10 23:38] ItaloBC commented on #90
You are right, caffeine doesn't sees the 'web' middleware-group. I think I know how it can be fixed: by manually adding the route with the middlware-group

[2018-04-12 02:43] mikebronner commented on #89
Hi guys, thanks for reporting this. I will check this out soon -- I'm currently swamped with work, but hope to get to it over the weekend.

[2018-04-12 02:45] mikebronner commented on #90
I'll close this as the csrf-token is not meant to be updated. Looks like you already started the other issue. :)

[2018-04-12 02:45] #90 closed

[2018-04-13 11:54] juandi opened #92 "catastrophic backtracking"
## Expected Behavior
detect <input name="_token"
## Acutal Behavior
donest detect <input name="_token"
## Environment
- PHP Version:  7
- Laravel Version: 56
- LaravelCaffeine Version:  0.6.8

## Stack Trace
Catastrophic backtracking qhen test the regex in regex101. If I am on a edit form with method = put, the regex does´t detect the _token input field. You can test it:
<form method="POST" action

[2018-04-14 13:31] mikebronner commented on #92
Please provide an Some HTML with the form and elements that are causing this issue so I can easily replicate the issue. Thanks for reporting this!

[2018-04-16 08:08] juandi commented on #92
Hi mike!

thanks for your fast reply.  Here is a HTML source that make the error:
`

                    <form method="POST" action="https://webserver/en/cms/news/2" accept-charset="UTF-8" class="form form-horizontal form-label-left" data-type="ajax"><input name="_method" type="hidden" value="PUT"><input name="_token" type="hidden" value="mhDCFj9Zqk3sOijfSVOJdFyO5HEHBB2L4GDutGbm">

[2018-05-13 19:50] spaceemotion opened #94 "Issues with "let" in Safari 9"
## Expected Behavior
No Errors

## Acutal Behavior
Hundreds of Client-Side Errors (collected via Sentry)

## Environment
- PHP Version: 7.2
- Laravel Version: 5.5.40
- LaravelCaffeine Version: 0.6.8

## Stack Trace
`SyntaxError: Unexpected identifier 'lastCheck'` (https://github.com/GeneaLabs/laravel-caffeine/blob/master/resources/views/script.blade.php#L2)

![image](https://user-images.githubuser

[2018-05-13 22:37] mikebronner commented on #94
Thanks for reporting this! Fix coming right up.

[2018-05-13 22:50] #94 closed

[2018-05-13 23:27] #82 closed

[2018-05-13 23:27] #92 closed

[2018-05-14 17:01] ItaloBC commented on #78
This is covered by #72.

There is no way to tell the browser to NOT throttle its Javascript Engine when the window goes inactive. Even so, It shouldn't be a problem because `setTimeout` [can be delayed by just mere seconds](https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/setTimeout#Reasons_for_delays_longer_than_specified). The throttling (or halting in some cases) is ha

[2018-06-15 20:01] dallincoons opened #95 "Middleware breaks assertViewHas assertion in test response"
Using `LaravelCaffeineDripMiddleware` breaks the ability to do `$response->assertViewHas()` in tests, because it looks like the middleware converts the View object to a string and resets the contents. This causes the `TestResponse::assertViewHas` to throw an error: 'The response is not a view.'

[2018-07-15 16:36] mikebronner commented on #95
@dallincoons I'm open to a PR that would fix this. :)

[2018-07-26 01:31] s21825 commented on #89
I've also encountered this issue (or something very similar).

PHP Version: 7.2.7
NGINX: nginx/1.14.0 (Ubuntu)
Laravel Version: 5.6
LaravelCaffeine Version: ^0.6.11

I noticed that the session was still expiring on an idle form and research led me here. After trying the workaround of creating a route in my web.php file to catch the drip requests, the session is no longer expiring.

From the networ

[2018-08-05 19:16] mikebronner commented on #89
@s21825 @ItaloBC Please add this bit of code to your form page, and let me know what the output is:

[code]

[2018-08-05 21:41] s21825 commented on #89
This is what I get:

"fpm-fcgi"

[2018-08-05 23:27] mikebronner commented on #89
@s21825 that should work. Can you try the latest update from today and see if the problem still persists?

[2018-08-06 00:14] s21825 commented on #89
I just did a quick test by setting my session lifetime to 6 minutes with the default drip interval of 5 minutes. After three drips I still had an active session. So it appears to be working as expected with the latest version. I'll leave things idle for a few hours and check again but so far so good! Thanks for following up.

[2018-08-06 20:42] s21825 commented on #89
After further investigation, the session is still expiring with the new release. I'll have to see if I can put together a public project to share with the issue present as I am not able to share my current project.

[2018-08-09 22:24] mikebronner commented on #89
@MoogyG can you also run this command in your blade view with your form:
[code]

[2018-08-09 22:28] MoogyG commented on #89
"fpm-fcgi"

I am using laradock on ubuntu 16.04.

[2018-08-09 22:35] MoogyG commented on #89
Found something, dd($this->middlewareGroupExists('web')); give me false in boot method

[2018-08-09 22:55] mikebronner commented on #89
@MoogyG that needs to be checked for backward compatibility. The command I provided above directly relates to that middleware check, but your's shouldn't be reporting false. Can you follow the chain and see what line of code causes it to be false on your system?

Thanks!

[2018-08-09 23:05] MoogyG commented on #89
[code]
only report "barryvdh/laravel-debugbar" routes that is not using web middleware.

Is there a problem with laravel auto package discovery? If you are the first service loaded, you can't see other routes, i don't think it's a good way.

[2018-08-09 23:07] mikebronner commented on #89
By any chance are you using route closures? Also, would you mind pasting your `routes/web.php` file content here? Thanks!

[2018-08-09 23:10] MoogyG commented on #89
none route closures until I wrote to test:

`Route::get( 'caffeine/drip', function() {
    return response(null, 204);
});`

And i am not authorized to do that :)

[2018-08-09 23:25] MoogyG opened #97 "Need a reflash"
I have a user form where he can upload an avatar and fill other fields.

If he uploads an image but the request doesn't pass the validation on an other field, he don't have to upload again the image, I store it the first time and flash the storage path to display it and use the stored image the next valid request.

As drip is just here to keep session alive, and should not modify session state, do

[2018-08-09 23:36] mikebronner commented on #97
Not sure about this, I will have to think about it.

[2018-09-05 02:39] hakimihamdan88 opened #99 "Laravel 5.7"
Hi, please support for laravel 5.7

[2018-09-05 14:06] mikebronner commented on #99
Coming soon, I am unavailable at the moment because of family emergencies, but will take a look as soon as I get back.

[2018-09-11 23:57] #99 closed

[2018-11-23 19:52] mohannad1995 commented on #44
Generating optimized autoload files

In ResourceRegistrar.php line 360:

  Object of class Closure could not be converted to string

Script @php artisan package:discover handling the post-autoload-dump event returned with error code 1
I'm using laravel 5.6

[2018-12-05 21:53] mazen1985 commented on #89
Any updates here, I have same issue the package is still dripping but the session still keeping expired.

[2018-12-13 15:50] royduin opened #104 "Expire when directly submit form after coming back"
Laravel Caffeine refreshes the CRSF token every `drip-interval` and refreshes the whole page when the session almost expires; `outdated-drip-check-interval` before. But... when I open the Laravel application, close my Macbook and go to sleep. The next morning I open my laptop and I'm trying to submit the form I'm getting the expired page. Maybe we can check on window focus and refresh the token? S

[2018-12-13 16:14] mikebronner commented on #104
I would love a PR for this, if there is a way to elegantly handle the timeouts. I could see redirecting to the login page if the drip encounters a timed-out session.

[2018-12-13 16:18] barryvdh commented on #104
Perhaps you could use something like this: https://github.com/ai/visibilityjs
Which will trigger events also when returning from a background tab etc. Not sure if that fits your case (or a global case), but might help.

[2018-12-13 16:19] royduin commented on #104
But what are we going to do when we get the focus event? Reload isn't wanted but needed in my use case, when we just switch tabs the page will reload in that case.

[2018-12-13 16:21] barryvdh commented on #104
If the drip is not run in that interval (because of inactivity), you will need to redirect to the login page always, because the session is already expired.

[2018-12-13 16:23] mikebronner commented on #104
@barryvdh Thanks for the suggestion, I will take a look at that. :)

@royduin I think that kind of logic does beyond what I envisioned for this package. I think we should take it step-by-step and first just handle timed-out sessions.

I guess an option would be to show the login page in a popup, and then close the popup once logged in? That could provide the ability to preserve form data as we don

[2018-12-13 18:17] mikebronner commented on #104
@royduin  Unless something changed, the CSRF should expire with the session. It is also recommended to keep the session lifetime as short as reasonable possible, to prevent abuse. I'm not completely clear on your exact use-case, but it sounds like there may be other issues and functionality involved that goes beyond what this package is intended to do?

The **only** purpose of this package is to e

[2018-12-13 19:19] royduin commented on #104
Thanks for helping out @mikebronner; it's just a Laravel web applications where users can login. Having the login page open, close your laptop and open it the next morning and try to login results in a csrf token expiration / session timeout. To reproduce;

1. `laravel new caffeinetest`
2. Setup a database and change the credentials in the `.env`
3. Change `SESSION_LIFETIME`  to `1440` in the `.en

[2019-01-28 13:52] tontonsb opened #105 "What if the body tag is not closed?"
It seems in [the middleware](https://github.com/GeneaLabs/laravel-caffeine/blob/master/src/Http/Middleware/LaravelCaffeineDripMiddleware.php) that the code is inserted by replacing `'</body>'` with `"{$dripper->html}</body>"`.

However, according to [specs](https://www.w3.org/TR/html5/syntax.html#optional-tags) it is optional to close body:

Am I missing something or is this just not working if th

[2019-01-28 14:16] mikebronner commented on #105
Correct, it currently will not work without the body closing tag. I don't think this is something I will invest time into addressing. If it is important to you, please submit a PR to address this. I could see a solution using clever DOM selector Syntax to get around all the optional tags.

[2019-01-28 14:16] #105 closed

[2019-03-01 11:10] aglipanci opened #107 "Support for Laravel 5.8"
## Expected Behavior
The package should have support for Laravel 5.8
## Actual Behavior
Currently upgrading to Laravel 5.8 with this package is not possible.

## Environment
- PHP Version: 7.2
- Laravel Version: 5.8
- LaravelCaffeine Version: 0.7.1

## Stack Trace

[2019-03-01 22:22] #107 closed

[2019-03-04 20:44] mikebronner commented on #107
Should be fixed in latest version. Let me know how that goes.

[2019-04-10 16:05] aurawindsurfing commented on #64
Hi! I have removed the package and seem to have a similar issue.

removed from composer, done composer dump-autoload

[code]

does not show it as well

I have understand.io installed however and I can see that something is still trying to access:

[code]

which in turn produces

[code]

Any ideas what can cause that issue?

[2019-04-10 16:10] mikebronner commented on #64
@aurawindsurfing Have you tried
[code]

[2019-04-18 03:45] liyu001989 commented on #89
laravel 5.8 same issue,  `middlewareGroupExists` return false  because   `$routes = collect(app('router')->getRoutes()->getRoutes());` is empty array。

[2019-05-14 09:39] wijourdil opened #108 "[Laravel 5.8] The page keeps reloading after package installation"
## Expected Behavior
I just have installed the package, in order to prevent token expiration on an ajax form

## Actual Behavior
The page on which I have the form keeps reloading

## Environment
- PHP Version: 7.2
- Laravel Version: 5.8
- LaravelCaffeine Version: 0.8.1

[2019-05-14 15:59] mikebronner commented on #108
@wijourdil Can you provide a live example? If not, could you provide a video demonstrating the issue?

[2019-05-23 16:09] smirnov-tk commented on #89
Same here.
Why don't you use **hasMiddlewareGroup** function of the Router if it is available? It's 5.4+
And it can see my 'web' group
[Laravel API](https://laravel.com/api/5.8/Illuminate/Routing/Router.html#method_hasMiddlewareGroup)

[2019-05-23 16:11] mikebronner commented on #89
@smirnov-tk @mazen1985 @MoogyG @liyu001989 Sorry for the delay on this. Thanks for the suggestion @smirnov-tk, I will take a look.

[2019-06-20 09:39] meesudzu opened #110 "Conflict with Voyager"
## Expected Behavior

## Acutal Behavior

It's conflict with voyager 1.2.6.
Can't be load admin dashboard.

## Environment
- PHP Version: 7.2
- Laravel Version: 5.8
- LaravelCaffeine Version: 0.8.1
![image](https://user-images.githubusercontent.com/17334624/59838749-a8925900-9379-11e9-84a0-7654b226a962.png)

## Stack Trace

[2019-06-30 23:45] mikebronner commented on #110
Hi @meesudzu, thanks for reporting this. I don't use Voyager, so if you could provide a PR that fixes this issue, that would be great.

[2019-07-01 00:24] mikebronner commented on #89
@smirnov-tk @mazen1985 @MoogyG @liyu001989 I finally got around to updating the code with @smirnov-tk's suggestion. Please try release 0.8.2 or newer and let me know how it works.

[2019-07-01 00:24] #89 closed

[2019-07-01 00:26] mikebronner commented on #108
I'm not able to replicate this. Closing for now, please follow up with more details if you are still experiencing this issue.

[2019-08-02 21:43] syclone commented on #110
Same issue here. I had to remove **laravel-caffeine** to use Voyager. I do not know why it is conflicting.

[2019-08-20 17:10] Yahav commented on #97
@MoogyG This sounds important, i don't understand though how this will affect the flashed data? flashed data will returned with the very next response, that is before a drip will occur. so how the drip is altering the session flashed data?

[2019-08-21 22:52] MoogyG commented on #97
In my case the drip occurs before the user submits the form a second time, so the flashed data is consumed and removed.

[2019-08-21 23:03] mikebronner commented on #97
@MoogyG Thanks for providing additional details. It sounds like the flash methodology should not flash info out to json requests, but only to web requests.

I will try adding the appropriate headers to Caffeine to make sure Laravel doesn't think it's a web request.

[2019-08-25 05:35] syclone commented on #110
Hi @meesudzu, @mikebronner and anyone who is experiencing this issue. I was able to find a workaround to void the conflict.

**Workaround**: Configure the **laravel-caffiene** to use middleware `'use-route-middleware' => true,` and only apply that middleware to your main site. There are many ways to do that with a group route. Avoid having **laravel-caffiene** while voyager is active. You can use

[2019-09-05 08:12] aglipanci opened #112 "Support for Laravel 6"
Laravel 6 is released.

Can you please add support for the latest version?

[2019-09-05 12:38] mikebronner commented on #112
Please see #111 , it is currently blocked by another dependency. Once that is resolved I will publish the update. Thanks!

[2019-09-05 12:38] #112 closed

[2019-09-09 11:58] rjsworking opened #113 "Cannot install on latest laravel"
## Expected Behavior
Should be able to install on laravel 6.*

## Actual Behavior
Cannot install on L6.0.1 due to version constraints in composer.json

[code]

## Environment
- PHP Version: 7.3.9
- Laravel Version: 6.0.1
- LaravelCaffeine Version: latest

## Stack Trace
 Problem 1
    - Installation request for genealabs/laravel-caffeine ^1.0 -> satisfiable by genealabs/laravel-caffeine[1.0.0].

[2019-09-09 12:28] mikebronner commented on #113
@rjsworking Thanks for the feedback! Sorry about that, missed the `^` in the version constraints. This should now be fixed in release 1.0.1.

[2019-09-09 12:28] #113 closed

[2019-09-13 16:55] TheWiseNoob commented on #108
I'm having this same issue. I can't leave it as a live example because it makes the site unusable. I have to uninstall Laravel Caffeine to get the page to stop constantly refreshing.

[2019-09-13 17:00] TheWiseNoob commented on #108
I'm using Laravel 6. I just updated so I could use this.

[2019-09-13 17:02] mikebronner commented on #108
@TheWiseNoob Thanks for reporting that this is still happening for you. I will see if I can replicate this in Laravel 6.

[2019-09-13 17:04] TheWiseNoob commented on #108
Since you're around at the moment, here is the test site for my client that I am having this issue with. I can leave it like this for an hour if you want to investigate it there if you're free now.

https://djgriffinwebtesting.dev/howtubes/public/

[2019-09-13 17:07] TheWiseNoob commented on #108
What's weirder is my localhost installation of your package isn't having this problem, but it's also not updating the token. I set the session length to a minute and the refresh rate to 30 seconds, but it still mismatches on there.

[2019-09-13 17:10] mikebronner commented on #108
@TheWiseNoob I just took a look at the site ... go ahead and disable it again, there's not too much I can look at since it constantly refreshes. Thanks for showing the behavior.

[2019-09-13 23:36] mikebronner commented on #108
@TheWiseNoob I am unable to recreate this issue after installing it in a Laravel 6 project. It runs the Ajax drips without reloading the page.

Are you by any chance running your page as an SPA? Something else in your frontend must be conflicting.

[2019-09-13 23:36] #108 closed

[2019-09-13 23:45] TheWiseNoob commented on #108
Yes, it is a single-page application.

[2019-09-13 23:46] mikebronner commented on #108
@TheWiseNoob This package won't work with SPAs, unfortunately.

[2019-09-13 23:47] TheWiseNoob commented on #108
Oh, I did not see that is the case. Sorry about that. What would be the best approach for refreshing the token in the case of a single-age app?

[2019-09-13 23:49] mikebronner commented on #108
I can't answer that ... it depends completely on each SPA as to how state is managed. You would have to develop your own drip method, or perhaps see if you can find a way to make the package work with SPAs. :)

[2019-09-13 23:53] TheWiseNoob commented on #108
Hmm, I might do that. Some more commits in my name would be very helpful for my career. Really appreciate you looking into this. I also found a good answer to my issue on StackOverflow.

https://stackoverflow.com/questions/31449434/handling-expired-token-in-laravel

[2019-10-07 13:39] darkperis opened #116 "Laravel 6.0 and 6.1 Support"
Please add support for Laravel 6.1

[2019-10-07 14:00] mikebronner commented on #116
Should be supported. What composer error are you getting?

[2019-10-07 15:54] rjsworking commented on #116
I think the problem is ```jenssegers/model``` needs to be tagged with a new version.
Cheers

[2019-10-07 16:46] mikebronner commented on #116
@rjsworking  Yea, that's definitely holding some of my projects up as well. I believe the necessary changes have been merged. Waiting for a release.

[2019-10-07 16:46] #116 closed

[2019-10-07 17:14] rjsworking commented on #116
@mikebronner The workaround is fork the ```jenssegers/model``` package, update it's composer json to support L6.1 and use it in your projects/packages composer.json: "jenssegers/model": "dev-master".

[2019-10-08 17:42] mikebronner commented on #116
@rjsworking This should now be fixed in 1.0.3. Please let me know how that works for you.

[2019-10-08 17:54] mikebronner commented on #116
Try 1.0.4 ... made a mistake in pushing 1.0.3. Sorry about that.

[2019-10-08 21:22] rjsworking commented on #116
Np. It's working.
Thank you very much.

[2019-10-17 15:51] fabricciovt opened #117 "Problem with Laravel 5.8"
## Expected Behavior

## Acutal Behavior
I can't install caffeine on Laravel 5.8, it's show me a lot of errors.

## Environment
- PHP Version: 7.3
- Laravel Version: 5.8
- LaravelCaffeine Version:

## Stack Trace
Problem 1
    - Conclusion: don't install genealabs/laravel-caffeine 1.0.4
    - Conclusion: don't install genealabs/laravel-caffeine 1.0.3
    - Conclusion: don't install genealabs/larav

[2019-10-17 15:58] #117 closed, assigned to nobody

[2019-11-15 13:38] Yahav commented on #97
Actually you're quite wrong, flashed data is used in many cases, one example is validation errors, when dealing with ajax forms you'll get validation errors flashed as json - eg. json requests considered web requests as well..

[2019-11-28 19:48] mikebronner commented on #110
Updated readme with conflict warning, and mention of work-around.

[2019-11-28 19:48] #110 closed

[2020-01-22 04:45] thewebartisan7 opened #118 "Question about package"
I check the code of package and I can't understand why all this code and not just a simple ping to an endpoint that doesn't return nothing before sessions expired time pass?

Because I tested to make a setTimeout function just around 10 seconds before session.lifetime expired and it works.  I set  session.lifetime to 1 minute and then usin below JS code the token never expired:

[code]

[code]

Se

[2020-02-09 11:22] rjsworking opened #119 "Issue in production when changing the drip endpoint url default"
## Expected Behavior
Expected HTTP 204

## Actual Behavior
Get an HTTP 404

## Environment
- PHP Version: 7.4.2 + Opcache + Nginx 1.17.3
- Laravel Version: 6.14.0
- LaravelCaffeine Version: Latest 1.0.5

Say I change the drip endpoint url from `genealabs/laravel-caffeine/drip` to `ping` in the genealabs-laravel-caffeine.php config file.
It works as expected in my dev environment (Windows 10+PHP 7.

[2020-02-09 17:15] mikebronner commented on #119
@rjsworking This is really hard to replicate. Is the URL this is happening on publicly accessible? Also, could you create a test repo that replicates the problem when you publish it to production?

[2020-02-09 18:21] rjsworking commented on #119
Hi. Thank you for the reply. I'll create a test repo and a public url with exactly the same composer.json asap and see if the problem happens and I will share it with you.

Cheers

[2020-02-09 18:22] mikebronner commented on #119
@rjsworking Awesome ... thanks. Let's hope we can drill down into this.

[2020-02-10 16:07] rjsworking commented on #119
@mikebronner First of all, my apologies.
There is nothing wrong with your package.
About 3 weeks ago, I was playing on the production server with some nginx settings to exclude the requests generated by the package from the logs.
I completely forgot about these changes and last week, after the first deploy in production, errors started to appear. The errors happened for "live", "ping", "pop" route

[2020-02-10 16:07] #119 closed

[2020-02-10 16:11] mikebronner commented on #119
@rjsworking Awesome, glad to hear you figured it out! :)

[2020-03-02 11:10] ivanvermeyen commented on #118
Hi,

I was asking myself the same question, but I think this is what it comes down to.

While you could implement the script manually on every page that has a form, this package does it automatically via middleware by checking if there is a `_token` field:

Something else I found in the config file is this:

So that's another part of the script to implement.

You can of course just do it manually.

[2020-03-02 14:16] mikebronner commented on #118
@ivanvermeyen answered it best! :) Hopefully this answered your question? Closing for now. I hope you find this package useful. :)

[2020-03-02 14:16] #118 closed

[2020-03-03 18:14] JoshMountain opened #122 "Can't install in Laravel 7.0.1"
## Expected Behavior
To be able to install the package

## Actual Behavior
Composer throws an error

## Environment
- PHP Version: 7.3.13
- Laravel Version: 7.0.1
- LaravelCaffeine Version: 7.0.0

## Stack Trace
![image](https://user-images.githubusercontent.com/3465855/75806021-264b9880-5d40-11ea-8d8c-d9699a46d2a0.png)

[2020-03-03 18:25] mikebronner commented on #122
Hi @JoshMountain, sorry you're running into trouble. Unfortunately the dependency `jenssegers/model` has not yet updated to support Laravel 7. In the meantime, add the following repo to your project's `composer.json` file:
[code]

Even though it is in this package's composer.json file, projects don't seem to respect repositories defined in packages. Once jenssegers/model is updated, I will update

[2020-03-03 18:25] #122 closed

[2020-03-05 21:33] JoshMountain opened #123 "Vue.js @click events not working after installing 7.0"
## Expected Behavior
`@click` fires when elements are clicked.

## Actual Behavior
After installing, any `@click` fired from within a form seems to disappear. The event never fires. Is anyone else running into this?

## Environment
- PHP Version: 7.4.
- Laravel Version: 7.0.4
- LaravelCaffeine Version: 7.0

## Stack Trace

[2020-03-05 21:43] mikebronner commented on #123
Thanks .. I have seen some of these issues as well. What version of Vue are you running? Also, do you have AlpineJS installed along with Vue?

[2020-03-05 22:10] JoshMountain commented on #123
We are not using Alpine.

Vue version is 2.6.11

Thanks!

[2020-03-10 16:30] JoshMountain commented on #123
@mikebronner Any progress on this? Unfortunately we can't use Caffeine at the moment :(

[2020-03-10 16:35] mikebronner commented on #123
@JoshMountain your issue seems to be different than mine ... mine was due to a Due/Alpine conflict, and did not involve this package.

Can you post a minimal repo that reproduces the error? That will let me debug the problem more readily, since I am not seeing this issue in my projects at the moment.

[2020-03-10 19:55] arm092 commented on #52
If this happened after Laravel update from 6.x to 7.x, then this could be due to the update of Symfony. See the upgrade guide of this part: https://laravel.com/docs/7.x/upgrade#symfony-5-related-upgrades

[2020-03-11 01:21] JoshMountain commented on #123
@mikebronner Here is a [minimal repo that reproduces the error](https://github.com/JoshMountain/caffeine-demo). If you visit the `/` route you will see a page with a button and a counter. When you click the button nothing happens. However, if you run `composer remove GeneaLabs/laravel-caffeine` the counter works again.

Thanks!

[2020-03-11 10:40] aglipanci opened #124 "Issue parsing inline javascript"
## Expected Behavior
The inline Javascript inside HTML should not be affected.

## Actual Behavior
The inline Javascript inside HTML is parsed and the closing tags are removed on the response causing JS errors.

## Environment
- PHP Version: 7.2.5
- Laravel Version: 7.1.0
- LaravelCaffeine Version: 7.0.1

## Steps to reproduce
1. Add the csrf-token meta inside the header: `<meta name="csrf-token"

[2020-03-11 15:10] mikebronner commented on #124
Thanks for the additional information @aglipanci !

Related to #123, I will continue discussion there if I can't get a fix in.

[2020-03-11 15:10] mikebronner commented on #123
@JoshMountain Awesome! Thanks or getting that prepped. I'll take a look at it right now.

[2020-03-11 15:18] mikebronner commented on #124
@aglipanci Specific to what you are seeing, I just tested, and it does not appear to be removing any closing tags.

[2020-03-11 15:20] aglipanci commented on #124
@mikebronner did you add `<meta name="csrf-token" content="">` on inside the HEAD?

And add some Js like this:
[code]

[2020-03-11 15:22] mikebronner commented on #124
No, caffeine should not be adding any meta tags.

What I'm saying is that I specifically put in code that would not alter HTML in strings. Let me do a bit more testing.

[2020-03-11 15:24] mikebronner commented on #124
yea, it looks like the HTML parser is buggy. 🤬 Will try to find one that works as expected.

[2020-03-11 15:24] aglipanci commented on #124
Thanks for dealing with this @mikebronner!

[2020-03-11 17:06] mikebronner commented on #124
@aglipanci Can you give release 7.0.2 a try and let me know how it works?

[2020-03-11 17:06] #124 closed

[2020-03-11 17:07] mikebronner commented on #123
@aglipanci Can you give release 7.0.2 a try and let me know how it works? Closing for now, pending feedback. :)

[2020-03-11 17:07] #123 closed

[2020-03-11 21:43] aglipanci commented on #124
@mikebronner it's working fine now. Thanks for the quick fix!

[2020-03-11 21:56] mikebronner commented on #124
@aglipanci Awesome! Thanks for reporting back :)

[2020-03-11 22:06] JoshMountain commented on #123
Looks like that did the trick! Thank you for the fast work @mikebronner :)

[2020-05-13 15:58] dweerd opened #126 "What's wrong with exposing the CSRF token?"
You state: "I chose this approach to keep the integrity of site-security, by avoiding the following: exposing the CSRF Token on an unsecured endpoint."

But since the token is tied to a user session, anyone requesting the token would only see his own token... I don't see why that's a problem?

[2020-05-13 16:56] mikebronner commented on #126
True ... the CSRF token is visible in the browser in most circumstances anyway. However, I would rather not rely on the CSRF token, in case it gets out of sync, etc. I've had too many issues in that regard.

Closing this issue, as this seems more of a comment than a bug report or feature request. Please feel free to reply and update this issue if you have additional information. Thanks! :)

[2020-05-13 16:56] #126 closed

[2020-05-19 20:14] funkdoobiest opened #127 "Caffeine javascript is behind closing body-tag"
## Expected Behavior
Caffeine javacript is before closing body-tag.
## Acutal Behavior
Caffeine javascript is behind closing body-tag-
## Environment
- PHP Version: 7.4.5
- Laravel Version: 7.11.0
- LaravelCaffeine Version:  7.0.2

## Stack Trace

[code]

[2020-05-19 20:19] mikebronner commented on #127
Hi @funkdoobiest, this actually was a conscious choice, even though it is not strictly standards compliant, it should work. Are you getting errors? If so, could you post them?

[2020-05-19 20:43] funkdoobiest commented on #127
Hi @mikebronner,

just getting errors when validating my html. When this was a conscious choice that's ok.

Thank you for your fast reply :)

[2020-05-19 20:43] #127 closed

[2020-05-19 20:45] mikebronner commented on #127
Yea, there were issues with the HTML parsing and optional closing body tags, and so on. For that matter, it still isn't bullet-proof if the developer does not close their HTML tags. I will continue to think about this. Thanks for bringing it up again.

[2020-05-22 12:03] lornacodes opened #128 "Dependency incompatibility issues for laravel 5 (and suspected 6)"
## Expected Behavior
Latest version should install for laravel 5.4 - I appreciate this is because of older packages I have that will not work with newer laravel versions.

## Actual Behavior
Latest version of laravel-caffeine does not install via composer (package incompatibilities)

I've noticed in one of the recent commits to composer.json there are the following requirements:

[code]

Which I b

[2020-05-22 12:35] mikebronner commented on #128
I apologize for the confusion. We dropped support for previous versions with the release of Laravel 7. You are free to fork the package and make the necessary changes to composer.json for your project.

[2020-05-22 12:35] #128 closed

[2020-09-09 12:10] saulens22 opened #129 "Add Laravel 8.x support"
Laravel 8.0 has no relevant changes, so only version bump should be necessary.

Also, https://github.com/jenssegers/model/pull/34 should be merged first.

[2020-09-11 14:04] #129 closed

[2020-09-11 14:06] mikebronner opened #131 "Move to GitHub Actions for CI."

[2020-11-23 13:45] JamesCobbledick opened #132 "Failed Installation"
## Expected Behavior
I'm expecting the package to install successfully.
## Acutal Behavior
Installation fails.
## Environment
- PHP Version: 7.4.1
- Laravel Version:  7.14.1
- LaravelCaffeine Version: 8.0

## Stack Trace
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request for genealabs/laravel-caffeine ^8.0 -> satisfiable by genealabs/

[2020-11-23 15:06] mikebronner commented on #132
Hi @JamesCobbledick, version 8 is only for Laravel 8. You would need to install an earlier version for 7.

[2020-11-23 15:06] #132 closed

[2020-11-23 15:10] JamesCobbledick commented on #132
Thank you, that makes sense - I saw on the readme that "Laravel 7.0 or higher" was the dependency, so I wasn't sure.

[2021-03-13 12:21] 5jll opened #133 "Ath_j22"

[2021-03-13 12:47] #133 closed

[2021-03-13 12:47] mikebronner commented on #133
Please provide a description and title for reporting issues.

[2021-04-15 07:34] RoshanJafri commented on #84
@mikebronner Hey, I am facing this error again>
Problem 1
    - Installation request for genealabs/laravel-caffeine ^8.0 -> satisfiable by genealabs/laravel-caffeine[8.0.0].
    - Conclusion: remove laravel/framework v7.29.2
    - Conclusion: don't install laravel/framework v7.29.2
    - genealabs/laravel-caffeine 8.0.0 requires illuminate/routing ^8.0 -> satisfiable by illuminate/routing[8.x-dev,

[2021-04-15 07:37] RoshanJafri opened #134 "Composer require error"
## Environment
- PHP Version: 7.4
- Laravel Version: 7.29
- LaravelCaffeine Version: --

When trying to install caffeine using `composer require genealabs/laravel-caffeine` I get this error. I have tried on different laravel versions as well.

[code]

[2021-04-15 07:53] #134 closed

[2021-04-15 07:54] RoshanJafri commented on #134
laravel version mismatch was causing this error. I installed caffeine 7.0.2 and it worked.

[2021-04-17 06:00] RoshanJafri opened #135 "Issue with caffeine not loading other packages correctly when it refreshes."
## Behavior
When caffeine refreshes the session, other npm packages don't load correctly.
I have the package [voerro/vue-tagsinput](https://github.com/voerro/vue-tagsinput) along with caffeine. Everything's fine until caffeine auto refreshes page session, when it does refresh the tags input component doesn't load correctly, the css is missing ( no error in console  either )
This is what it looks w

[2021-06-14 07:43] AnnaBelka opened #137 "Should fix when the device is in sleep mode"
Hello.
I have a problem when my laptop is in sleep, after waking up I see an error connecting to the Internet. I found out that when this condition is met,

      if ({{ $ageCheckInterval }} ) {
                setInterval(function () {
                    if (new Date() - lastCheck >= {{ $ageCheckInterval + $ageThreshold }}) {
                        location.reload(true);
                    }

[2021-10-02 17:56] haexperts2020 commented on #134
7.02 worked for me too. Thanks

`composer require genealabs/laravel-caffeine:^7.0.2
`

[2022-01-11 12:00] blorange2 opened #139 "The included script is added in a place where it affects my site layout"
## Expected Behavior

Package should not affect overall site layout

## Acutal Behavior

The package adds its scripts but also modifies my layout.

## Environment
- PHP Version: 7.4
- Laravel Version: ^7.0
- LaravelCaffeine Version: 7

## Stack Trace

## Before

![image](https://user-images.githubusercontent.com/13929733/148939648-772a5fa4-ef63-4f43-a8e3-4a3bef2e54db.png)

From line 369 where the

[2022-02-09 13:46] darkperis opened #141 "Laravel 9 support"
Please add support for Laravel 9. Thanks

[2022-02-09 13:57] mikebronner commented on #141
Thanks for the reminder, this is now available in version 9.0.0.

[2022-02-09 14:43] mikebronner commented on #141
Re-opening this, as we are waiting on downstream dependency.

[2022-02-15 14:32] mikebronner commented on #141
This is now released in 9.0.2.

[2022-02-15 14:32] #141 closed

[2022-03-07 12:49] liepumartins opened #143 "Deprecation warning using with PHP 8.1"
## Expected Behavior

No warnings

## Actual Behavior

Deprecation warning

## Environment
- PHP Version: 8.1
- Laravel Version: 9.3.1
- LaravelCaffeine Version: 9.0.2

## Stack Trace
[code]

[2022-03-07 13:46] liepumartins commented on #143
Config file defines key `domain` as `null` by default.
https://github.com/GeneaLabs/laravel-caffeine/blob/4df612b77e08cd7d93eee79ed74bbf2f7ca1ff4a/config/genealabs-laravel-caffeine.php#L32

I have not customized this setting.

[2022-03-07 13:47] mikebronner commented on #143
Ah, yes, thanks!

[2022-10-21 14:16] #143 closed